$kh-breakpoint--sm: 600px !default;
$kh-breakpoint--md: 846px !default;
$kh-breakpoint--lg: 1024px !default;
$kh-breakpoint--xl: 1300px !default;
$kh-breakpoint--sm-down: ($kh-breakpoint--sm - 1px) !default;
$kh-breakpoint--md-down: ($kh-breakpoint--md - 1px) !default;
$kh-breakpoint--lg-down: ($kh-breakpoint--lg - 1px) !default;

