$componentInfo: (
             name: "@visual-framework/vf-design-tokens",
             version: "3.0.0",
             location: "components/undefined",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Sun, 17 Aug 2025 20:34:11 GMT"
          );