<footer class="kh-footer | do-not-print" role="contentinfo">
  <div class="kh-footer__inner">
    <div class="kh-footer__notice">
      <div class="kh-body--text | do-not-print">
{%- markdown %}
<strong>I'm Ken Hawkins</strong>
I bring structure and process to complex web projects. Learn more about me <a href="/">on the front page</a> or <a href="/#hello">get in touch</a>.
{% endmarkdown -%}
      </div>

      <a href="/posts/20200713-moving-from-panini-to-eleventy/">About this site's technology</a>
      &nbsp; <a href="/privacy">Curious about privacy?</a>

      {%- if serverInfo.environment == "development" %}
          <div class="kh-banner kh-banner--alert kh-banner--warning">
            <p class="kh-banner__text">
              ⚠️ You're running the {{serverInfo.environment}} command.
            </p>
        </div>
      {% endif -%}
    </div>
  </div>
</footer>

<code class="show-for-print-only small">Printed direct from AllAboutKen.com</code>
