<!doctype html>
<html lang="en" class="vf-no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
    <title>{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}} | All about Ken Hawkins</title>
    {% render '@ken-favicon' %}
    {% render '@vf-no-js' %}
    <meta name="description" content="Hello. I am Ken Hawkins. Builder of websites, project planner, newspaper nerd, information architect, lover of UX, consultant. Information structure is my thing." />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="abstract" content="Hello. I am Ken Hawkins. Builder of websites, project planner, newspaper nerd, information architect, lover of UX, consultant. Information structure is my thing." />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="Drupal, web development, Ken Hawkins, UX, information architecture" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="All About Ken Hawkins" />
    <meta property="og:url" content="https://www.allaboutken.com{{page.url | url }}" />
    <meta property="og:title" content="{{title}} > All About Ken Hawkins" />
    <meta property="og:image" content="https://www.allaboutken.com/images/crop-cinema{{image}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@khawkins98" />
    <meta name="twitter:site:id" content="3723201" />
    <meta name="twitter:creator" content="@khawkins98" />
    <meta name="twitter:creator:id" content="3723201" />
    <meta name="twitter:url" content="https://www.allaboutken.com{{page.url | url }}" />
    <meta name="twitter:description" content="{{ teaser | safe }}" />
    <meta name="twitter:image" content="https://www.allaboutken.com/images/crop-cinema{{image}}" />
    <meta name="dcterms.title" content="{{title}} > All About Ken Hawkins" />
    <meta name="dcterms.type" content="Text" />
    <meta name="dcterms.identifier" content="https://allaboutken.com{{page.url | url }}" />
    <meta name="dcterms.format" content="text/html" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.allaboutken.com/rss.xml">
    <meta name="generator" content="{{ eleventy.generator }}">
  </head>
  <body class="vf-body vf-stack vf-stack--400{% if bodyClass %} {{ bodyClass }}{% endif %}">
    <header class="vf-global-header" role="banner">
      <a href="/" class="vf-logo"><span class="vf-logo__text">AllAboutKen.com</span></a>
      <nav class="vf-navigation vf-navigation--global | vf-cluster | show-for-medium | do-not-print">
        <ul class="vf-navigation__list | vf-list--inline">
          <li class="vf-navigation__item">
            <a href="/blog" class="vf-navigation__link">Blog</a>
          </li>
          <li class="vf-navigation__item | show-for-medium-only">
            <a href="mailto:khawkins98@gmail.com" class="vf-navigation__link">E-mail</a>
          </li>
          <li class="vf-navigation__item | show-for-large">
            <a href="mailto:khawkins98@gmail.com" class="vf-navigation__link">khawkins98@gmail.com</a>
          </li>
          <li class="vf-navigation__item">
            <a href="https://toot.io/@khawkins98" class="vf-navigation__link">Mastodon<span class="show-for-large"> @khawkins98@toot.io</span></a>
          </li>
          <li class="vf-navigation__item">
            <a href="https://www.linkedin.com/in/allaboutken" class="vf-navigation__link">LinkedIn</a>
          </li>
        </ul>
      </nav>
    </header>
    <main role="main">
    {{ content | safe }}
    </main>
    {% if  page.url != '/' %}
      {% include "footer.njk" %}
    {% endif %}
    {# <!-- This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }} --> #}
    <script src="{{ '/scripts/scripts.js' | url }}"></script>
  </body>
</html>
