<!doctype html>
<html lang="en" class="vf-no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" media="all" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css" /> #}
    <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
    <title>{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}}</title>
    {% render '@vf-no-js' %}
  </head>
  <body class="{{ bodyClass }} vf-body">
    <header class="vf-global-header">

      <div class="vf-global-header__inner">
        {% render '@vf-logo', {href:  'https://visual-framework.github.io/vf-welcome/' | url, sreen_reader_text: 'Visual Framework 2.0', image: siteConfig.siteInformation.url + 'assets/vf-logo/assets/logo.svg' } %}
        {# <a href="{{ '/' | url }}" class="vf-link | vf-global-header__site-name">{{ siteConfig.siteInformation.title }}</a> #}

        <nav class="vf-navigation vf-navigation--global">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/" class="vf-navigation__link">About the Visual Framework</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://visual-framework.github.io/vf-welcome/documentation" class="vf-navigation__link">Documentation</a>
            </li>
            <li class="vf-navigation__item">
              <a href="https://join.slack.com/t/visual-framework/shared_invite/enQtNDAxNzY0NDg4NTY0LWFhMjEwNGY3ZTk3NWYxNWVjOWQ1ZWE4YjViZmY1YjBkMDQxMTNlNjQ0N2ZiMTQ1ZTZiMGM4NjU5Y2E0MjM3ZGQ" class="vf-navigation__link">Help, chat</a>
            </li>
          </ul>
        </nav>


<div class="grid-x do-not-print">
  <div class="cell medium-5">
    <ul class="menu float-left">
      {# <li class="{{#ifequal '/' url}}is-active{{/ifequal}}  {{#ifequal 'front' active_path}}is-active{{/ifequal}}"><a href="{{root}}">AllAboutKen<span class="show-for-large">.com</span></a> </li> #}
      {# <li class="{{#ifequal '/blog' url}}is-active{{/ifequal}} {{#ifequal 'blog' active_path}}is-active{{/ifequal}}"><a href="{{root}}blog">Blog</a></li> #}
    </ul>
  </div>
  <div class="cell auto">
    <ul class="menu float-right show-for-medium">
      <!-- <span class="dev-explainer">Would have been easy enough to just do icons here, but text is not only better SEO but there's not mystery as to the action of what these links do.</span> -->
      <li class="show-for-medium-only"><a href="mailto:khawkins98@gmail.com">E-mail</a></li>
      <li class="show-for-large"><a href="mailto:khawkins98@gmail.com">khawkins98@gmail.com</a></li>
      <li class=""><a href="https://twitter.com/khawkins98">Twitter<span class="show-for-large"> @khawkins98</span></a></li>
      <li class=""><a href="https://www.linkedin.com/in/allaboutken">LinkedIn</a></li>
    </ul>
  </div>
</div>


      </div>

    </header>
    <div class="vf-grid">
      <div>
        {{ content | safe }}
      </div>
    </div>
    {% include "footer.njk" %}
  </body>
</html>
