---
layout: layouts/base.njk
pageClass: digesting
templateEngineOverride: njk
---

<article class="kh-grid-stylized kh-u-margin__top--1200">
  <div></div>
  <div class="kh-content">
    <h1 class="kh-font-headline kh-text-heading--1">{{title}}</h1>
    <p><time datetime="{{ date }}" class="kh-summary__date">{{ date | dateDisplay }}</time>{% if topics %}<span class="kh-summary__author">Filed in: {{ topics | join(', ') }}</span>{% endif %}</p>
    {% if tags and ('note' in tags) %}
    <div class="kh-note-box">
      <span class="kh-note-box__label">Note:</span>
      I'm getting more active by writing shorter form, more informal updates like this one.
    </div>
    {% endif %}
    {{ content | safe }}
    {% if digest_link %}
    <p class="kh-text-body--2"><a href="{{ digest_link }}" class="kh-button">Learn more at the source</a></p>
    {% endif %}
    <p>
      <a href="/digesting">More things I've been digesting</a>
    </p>
  </div>
</article>
