---
layout: layouts/base.njk
pageClass: posts
templateEngineOverride: njk
---

{# <p class="date">
  Posted as an example, on <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
</p> #}
<main class="vf-grid">
  <section class="vf-content">

  {% render '@ken-figure', {
    "text": image_meta.text,
    "alttext": image_meta.alttext,
    "imageUrl": "/images/crop-cinema" + image
  } %}

  <p><time class="vf-summary__date">{{ date | dateDisplay }}</time> {% if topics %}&nbsp;&nbsp;<span class="vf-summary__author">Filed in: {{topics}}</span>{% endif %}</p>

  <h1>{{title}}</h1>

  {% if teaser %}
  <h2 class="lead">{{ teaser | safe }}</h2>
  {% endif %}
  
  {{ content | safe }}
  </section>
  <div></div>
</main>
