---
layout: layouts/base.njk
pageClass: posts
templateEngineOverride: njk
---

{# <p class="date">
  Posted as an example, on <time datetime="{{ date }}">{{ date | dateDisplay }}</time>
</p> #}
<main class="vf-grid">
  <section class="vf-content">
  {{ content | safe }}
  </section>
  <div></div>
  {# <div class="footnote">
    <p>
      This page is part of the posts section.
    </p>
  </div> #}
</main>
