// vf-local-overrides

@import 'vf-local-overrides.variables.scss';

.vf-body {
  background: #fbf6ef;
}

.vf-local-overrides {
  /* your settings here */
}

// minimal reset
img {
  max-width: 100%;
}

// extra spacing after header
.vf-global-header {
  // margin-bottom:  map-get($vf-spacing-map, vf-spacing--xl);
  background-color: unset;
  border-bottom: none;
}

// custom outlines for focus
.vf-content a:focus,
[class*="vf-"]:focus {
  outline: 1px dashed rgba(0,0,0,.6);
  outline-offset: 4px;
}

// horizontal summaries
.summary-inline .vf-summary {
  grid-template-columns: none;
}

.summary-inline .vf-summary > .vf-summary__date {
  grid-row: 7;
}

.summary-inline .vf-summary > .vf-summary__image {
  max-width: 100%;
  margin-bottom: 16px;
}

.summary-inline .vf-summary__image {
  max-width: 100% !important;
  margin-right: 0; // fix right overflow on mobile
}

@media (max-width: 600px) {
  .summary-inline .vf-summary {
    grid-row-gap: 0;
  }
}

// Default color
.vf-body {
  // color: var(--vf-color--grey--darkest);
  // background: var(--vf-ui-color--grey--lightest);
  // background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23252525' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  // max-width: 67.5em;
}

html, body {
  // background: var(--vf-ui-color--grey--light);
}

// .vf-content dl
.vf-content {
  dt:not([class*='vf-']) {
    @include set-type(text-body--2, $custom-margin-bottom: 0);
    font-weight: 700;
  }
  
  dd:not([class*='vf-']) {
    @include set-type(text-body--2, $custom-margin-bottom: 24px);
  }
}


// Print utility classes
@media print {
  // .grid-container,
  // hr,
  // .print-12 {
  //   max-width: 100%;
  //   width: 100% !important;
  // }
  // body {
  //   font-size: .8rem;
  // }
  .do-not-print {
    display:none !important;
  }
  .for-print-only {
    display:block
  }
  a[href]:after {
    content: " ";
    display: none;
  }
  // hr {
  //   border-top-color: #222
  // }
  // .has-tip {
  //   border-bottom: none !important;
  //   font-weight: unset;
  // }
}
@media screen {
  .show-for-print-only,
  .for-print-only {
    display:none;
  }
}

/* Anchors */
.vf-grid a[name] {
  // color: #fff;
}
.vf-grid a[name]:active {
  // color: #ccc;
}

.vf-grid a[name]:link,
.vf-grid a[name]:hover {
  background: none;
  text-decoration: none;
}

.vf-grid h2 a[name]:hover:before,
.vf-grid h3 a[name]:hover:before {
  content: "⚓️";
  // font-weight: 400 !important;
  // font-family: 'Noto-Emoji';
  position: relative;
  display: inline-block;
  height: 0;
  width: 0;
  left: -3rem;
}

.vf-grid h3 a[name]:hover:before {
  left: -1.75rem;
}

// no need for block
.vf-content small:not([class*='vf-']) {
  display: inline;
}

// ken-grid
// embl-grid

@import 'package.variables.scss';
// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */


.ken-grid {
  grid-column: main;
  margin-bottom: 48px;

  & > :first-child {
    grid-column: 1 / -1;
    margin-right: var(--embl-grid-spacing-normaliser);

    @media (min-width: 846px) {
      grid-column: span 1;
    }
  }

  & > *:not(:first-child) {
    @media (max-width: 845px) {
      grid-column: 1 / -1;
    }
  }
  @media (min-width: $vf-breakpoint--sm) {
    display: grid;
    grid-column-gap: var(--page-grid-gap);
    /* stylelint-disable declaration-colon-space-after */
    grid-template-columns: 
      calc(var(--embl-grid-module--prime) + var(--embl-grid-spacing-normaliser)) 
      [main-start] 
      repeat(auto-fit, minmax(288px, 1fr)) 
      [main-end]
    ;
    /* stylelint-enable */
  }
  
}

.ken-grid--has-centered-content {
  --embl-grid-spacing-normaliser: 0; // removes margin from first child
  --page-grid-gap: 0; //

  @media (min-width: $vf-breakpoint--lg) {
    --page-grid-gap: 36px;

    /* stylelint-disable declaration-colon-space-after */
    grid-template-columns:
      var(--embl-grid-module--prime)
      auto
      var(--embl-grid-module--prime)
    ;
    /* stylelint-enable */
  }
}

// responsive display
.show-for-mobile-only {
  @media (min-width: $vf-breakpoint--sm) {
    display: none !important;
  }
}
.show-for-medium-up {
  @media (max-width: $vf-breakpoint--sm) {
    display: none !important;
  }
}
.show-for-medium-only {
  @media (min-width: $vf-breakpoint--lg) {
    display: none !important;
  }
  @media (max-width: $vf-breakpoint--md) {
    display: none !important;
  }
}
.show-for-large {
  @media (max-width: $vf-breakpoint--lg) {
    display: none !important;
  }
}

// always right-float nav
.vf-navigation--global {
  margin-left: auto;
}

// 2 of 3 layout
.ken-grid--left-justified {
  --embl-grid-spacing-normaliser: 0; // removes margin from first child
  --page-grid-gap: 0; //

  @media (min-width: $vf-breakpoint--lg) {
    --page-grid-gap: 36px;

    /* stylelint-disable declaration-colon-space-after */
    grid-template-columns:
      // var(--embl-grid-module--prime)
      auto
      var(--embl-grid-module--prime)
    ;
    /* stylelint-enable */
  }
}


.ken-grid--has-sidebar {

  & > *:nth-child(3n+2) {
    grid-column: span 2;
  }

  @media (max-width: 845px) {
    & > *:last-child {
      grid-column: 1 / -1;
    }
  }
  @media (min-width: 846px) and (max-width: 1219px) {
    & > *:last-child {
      grid-column: 2 / -1;
    }
  }
  @media (min-width: 1220px) {
    & > *:last-child {
      position: relative;
    }
    & > *:last-child::before {
      background-color: set-ui-color(vf-ui-color--grey--light);
      content: '';
      height: 100%;
      left: calc(var(--page-grid-gap) / -2);
      position: absolute;
      width: 1px;
    }
  }
}

// link beutification
// https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-color
.vf-link,
.vf-content a, 
.vf-content a:not([class*='vf-']),
.vf-content .vf-link {
  text-decoration-color: #3b6fb6;
  text-decoration-line: underline;
  color: #333;
}


.vf-link:visited,
.vf-content a:visited 
.vf-content a:not([class*='vf-']):visited,
.vf-content .vf-link:visited {
  text-decoration-color: #734595;
  text-decoration-line: underline;
  color: #333;
}

.vf-content .vf-footer__link,
.vf-content .vf-footer__link:visited { 
  color: #fff;
}

// .ken-grid--alt {
//   --page-grid-gap: 0;
//   background-color: set-ui-color(vf-ui-color--black);
//   color: set-ui-color(vf-ui-color--white);
//   grid-column: 1 / -1;
//   /* stylelint-disable declaration-colon-space-after */
//   grid-template-columns:
//     minmax(1em, auto)
//     calc(var(--embl-grid-module--prime) + var(--embl-grid-spacing-normaliser))
//     minmax(288px, calc(76.5em - 206px))
//     minmax(1em, auto)
//   ;
//   /* stylelint-enable */
//   justify-content: center;
//   position: relative;

//   & > :first-child {
//     grid-column: 2 / -2;
//   }
//   & > :last-child {
//     grid-column: 2 / -2;
//   }

//   @media (min-width: $vf-breakpoint--md) {
//     & > :first-child {
//       grid-column: 2 / span 1;
//     }
//     & > :last-child {
//       grid-column: 3;
//       margin-left: 16px;
//     }
//   }
//   @media (min-width: 1200px) {
//     & > :last-child {
//       margin-left: 30px;
//     }
//   }

//   // HACK: put here for now
//   /* stylelint-disable order/properties-alphabetical-order, order/order  */
//   padding-top: 1.5rem;
//   /* stylelint-enable */
// }

// don't grow centred images
.vf-figure--align.vf-figure--align-centered .vf-figure__image {
  max-width: 100%;
}

// Vf core has no margin on blockquote
body .vf-content blockquote:not([class*=vf-]) {
  margin-bottom: 16px;
}

.vf-summary__category, .vf-summary__date {
  color: #000;
}

// footer stroke override
body .vf-footer {
  border-color: #3B6FB6;
  &:after {
    background-color: #3B6FB6;
  }
}

// styling for post titles
.kh-post-title {
  padding: 2rem 0 2rem 0;
  position: relative;
}

@media (min-width: 768px) {
  .kh-post-title {
    padding-left: 2rem;
    left: -1.5rem;
    margin-top: 10rem;
  }
}
.kh-post-title.vf-u-fullbleed::before {
  --context-margin--inline: 31rem;
}

// code sizing inheritance too big
.vf-content code, .vf-code-example {
  font-size: 14px;
}
.vf-content pre, .vf-content code, .vf-code-example__pre, .vf-code-example {
//   color: #fff;
  background: #fff;
}

/* set the printable link CSS */
@media print { 
  .vf-content a:not([class*=vf-]),
  .vf-content a:not([class*=vf-]):visited, 
  .vf-content a:not([class*=vf-]),
  .vf-content a:not([class*=vf-]):visited {
    color: #000;
    border-bottom: none;
    text-decoration-color: #666;
  }
  .ken-link--print a,
  .ken-link--print a:visited {
    text-decoration-line: none;
    color: #000;
  }
  .ken-link--print a:link:after, 
  .ken-link--print a:visited:after { 
    display: block;
    content: "" attr(href) "";
    font-size: 80%;
  }
}

// reduce spacing in summaries
.vf-summary__title {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .kh-bleed-out {
    margin-right: -50%;
    margin-left: -50%;
  }
}
@media (min-width: 767px) {
  .kh-bleed-out {
    margin-right: -30%;
    margin-left: -30%;
  }
}