// vf-local-overrides

// **Thinking about deleting this file?**
// If your component needs no CSS/Sass, we still recommend leaving the
// scss files in place. As this is primarily a CSS framework, it is better to
// leave the empty files so you know a file wasn't accidently omitted.
// If you don't have any Sass, you can trim this block down to:
// "This page was intentionally left blank"


@import 'vf-local-overrides.variables.scss';

.vf-local-overrides {
  /* your settings here */
}

// Print utility classes
@media print {
  // .grid-container,
  // hr,
  // .print-12 {
  //   max-width: 100%;
  //   width: 100% !important;
  // }
  // body {
  //   font-size: .8rem;
  // }
  .do-not-print {
    display:none;
  }
  .for-print-only {
    display:block
  }
  a[href]:after {
    content: " ";
    display: none;
  }
  // hr {
  //   border-top-color: #222
  // }
  // .has-tip {
  //   border-bottom: none !important;
  //   font-weight: unset;
  // }
}
@media screen {
  .show-for-print-only,
  .for-print-only {
    display:none;
  }
}

/* Anchors */
.vf-grid a[name] {
  // color: #fff;
}
.vf-grid a[name]:active {
  // color: #ccc;
}

.vf-grid a[name]:link,
.vf-grid a[name]:hover {
  background: none;
}

.vf-grid h2 a[name]:hover:before,
.vf-grid h3 a[name]:hover:before {
  content: "⚓️";
  font-weight: 400 !important;
  font-family: 'Noto-Emoji';
  position: relative;
  display: inline-block;
  width: 0;
  left: -3rem;
}

.vf-grid h3 a[name]:hover:before {
  left: -1.75rem;
}


