---
title: A model for better content, better readers, better journalism
layout: layouts/post.njk
oldurl: https://www.allaboutken.com/node/20
teaser: "Six years ago my then roommate and I founded TheDigitel on the idea that the future of news was changing and that the service was in curating and linking content, and that curation was going to be bigger than the massive link mills then in existence. "
image: "/blog/newspapers.jpg"
date: 2013-12-08
url: /posts/20131208-content-model-better-journalism.html
permalink: posts/20131208-content-model-better-journalism.html
active_path: blog
tags: posts
---

<div class="padding-top-xlarge"></div>
<img class="callout" src="/images/crop-cinema{{image}}" />

{% markdown %}

{{ date | dateDisplay }}

# {{title}}

<p class="lead">Six years ago my then roommate and I founded TheDigitel on the idea that the future of news was changing and that the service was in curating and linking content, and that curation was going to be bigger than the massive link mills then in existence.</p>

<p>We were right, but failed to realize that social radius service like Facebook, Google+, Twitter, and the like would organically become almost zero cost curators.</p>
<p>But hindsight quickly made something else more clear: The market was driving low-cost content that was appealing to low interest readers, and there was oft little reason to click through a blog post or Facebook share to the source material. </p>
<p>This scarcity of quality will in turn, likely, drive a desire for premium grade content. </p>
<p>If today's shell of journalism is akin to leaflets, there would in turn be a demand for well researched writing, more akin to scientific journal content.</p>
<p>Last week a new online-only publication, The Information, <a href="https://www.theinformation.com/Letter-From-the-Editor1">announced its arrival</a>:</p>
<blockquote><p>The Information, launching today, is our first step towards building a publication that operates differently. We’re a team of reporters and editors who have learned from the best in the business, and we want to challenge ourselves to write better articles that break new ground. Period.</p></blockquote>
<p>The publication is a premium, $39 per month subscription-only one.</p>
<p>I think the idea is spot on, and if it can hold it will be one of a series of events that could drive a far better journalism market.</p>
<p>Not only will we be able to fund "real" journalism, but the readers of such content will be looking for more well reasoned writing and that's something that should help stop publications from pandering to attention grabbing headlines that belong more in tabloids of yesteryear.</p>
<p>If we were to start TheDigitel in 2013, this is the direction we would have pushed.</p>

<cite>Image credit: <a href="https://www.flickr.com/photos/statusfrustration/169995469">Flickr user "J E Smith"</a></cite>
{% endmarkdown %}
