---
title: "UX success story: Doubling conversion rates, sales"
teaser: "The results were immediate: the site launched in the fall shopping season and saw a doubling of conversion rates from visitors — compared to both the previous months and previous fall sales — and that pace has held strong."
layout: layouts/post.njk
image: "/blog/tearoom-new.jpg"
date: 2014-04-07
oldurl: https://work.allaboutken.com/node/24
url: /posts/20140407-ux-success-double-conversion.html
active_path: blog
tags: posts
---
<div class="padding-top-xlarge"></div>
<img class="callout" src="/images/crop-cinema{{image}}" />

{% markdown %}

{{ date | dateDisplay }}

# {{title}}

<p class="lead"><a href="https://the-english-tearoom.de/">The English Tearoom</a> in Stuttgart, Germany, is a top-notch independent store. Open since 2011, owners Lynn and Christian offer superb tea and tea-related goods, with service mindful of each customer's unique tastes. This focus on in-person service hasn't prevented the owners from using e-commerce to attract new customers and offer more services to existing ones.</p>

But when the online-store first arrived in 2012 it struggled to find a fully effective engagement for similar-yet-different audiences.

The need is to present the shop as a true brick-and-mortar experience with real human service and as an online store with doorstep service throughout Europe. Aiming to better deliver both messages, I worked with The English Tearoom in the summer and fall of 2013 to help them better integrate their online offerings while preserving — and enhancing — the marketing of The English Tearoom's physical location.

My work focused on improving the homepage; refinements to deeper regions of the site and mobile user targeting are pending.

I started by asking the owners what it was they needed out of the homepage, then devising the personas that would be likely to visit the online page and sort out their various needs. The new design works by first targeting the common needs amongst all user groups: "What is The English Tearoom, and what have they been up to?" and then presents engaging items from the shop's location and hours to hot new items or discounts available both online and in the shop.

<p>Further down the page more nuanced needs are met, from newsletter information to product categories.</p>
<p>The results were immediate: the site launched in the fall shopping season and saw a doubling of conversion rates from visitors — compared to both the previous months and previous fall sales — and that pace has held strong (through early April as of this writing). Equally encouraging, the average checkout value remained constant for an effective doubling in sales.</p>

<div class="callout"><img src="/images/original/blog/conversion_rate.svg" alt="Doubling of sales and conversion rate." style="width:100%"><br><cite>The conversion rate graphed (Number values have not been labeled as to protect proprietary client information.)</cite></div>

<p>Of The English Tearoom's top months online, six of the seven have come after the UX updates. The message is clear.</p>
<p>Bonus: We also were able to use the redesign chance to better connect online viewers with information about the physical shop location. By visitor accounts, we've managed to maintain or increase in-shop referrals from website visits. </p>
<p><strong>Client information:</strong><br>
- Location: Stuttgart, Germany<br>
- Website platform: Drupal 6<br>
- E-commerce solution: Ubercart<br>
- Languages: English, German<br>
- Timeframe: September to October 2013<br>
- Services provided: UX analysis, user profiles, composite renderings (Photoshop, Illustrator, OmniGraffle), development (CSS, HTML, JS/jQuery, PHP), usability and automated testing</p>
<p><em class="float-right">Image credit: Photoshop composite; Base image by <a href="https://www.flickr.com/photos/booleansplit/3887516326">Robert S. Donovan</a></em></p>

{% endmarkdown %}
