---
title: How to install Lyra the graphical visualization environment
layout: layouts/post.njk
oldurl: https://www.allaboutken.com/node/32
teaser: "Lyra is, in my view, a proof of concept for developing rich D3-powered information display with a browser GUI."
image: ""
date: 2015-01-28
url: /posts/20150128-lyra-installation.html
permalink: posts/20150128-lyra-installation.html
active_path: Xblog
---
<img class="callout vf-u-padding__top--600" src="/images/crop-cinema{{image}}" />

{% markdown %}

<p><time class="vf-summary__date">{{ date | dateDisplay }}</time></p> 

# {{title}}

<p class="lead"><a href="https://idl.cs.washington.edu/projects/lyra/">Lyra</a> is, in my view, a proof of concept for developing rich D3-powered information display with a browser GUI.</p>

<p>Think of it as better than Excel and only 30% more complicated.</p>

<p>There's <a href="https://idl.cs.washington.edu/projects/lyra/app/">an online demo here</a>, but if you want to set up a sandbox, here's how.</p>

<p>It's brought to you as "free and open source software" (their words) by the <a href="https://idl.cs.washington.edu/">University of Washington Interactive Data Lab</a>.</p>

<p><strong>1) Set up your own micro Linux environment</strong><br />
A 512MB Debian 7 environment should be fine.</p>

<p><strong>2) Login as root (or sudo su - root) and install your basics</strong>
<code>apt-get update
apt-get upgrade
apt-get install curl
curl -sL https://deb.nodesource.com/setup | bash -
apt-get install -y nodejs
apt-get install -y build-essential
npm install -g yo bower grunt-cli gulp</code></p>

<p><strong>3) Get Lyra</strong><br />
(make a note of which folder to which you're installing, the default home directory should be fine for a playground)
<code>wget https://github.com/uwdata/lyra/archive/master.zip
unzip master.zip
cd lyra-master/
npm install</code></p>

<p><strong>4) Run it</strong>
<code>cd src
python -m SimpleHTTPServer 1234</code></p>

<p>Now got to https://you.ip.address.here:1234</p>
{% endmarkdown %}
