---
title: A new site for little reason
layout: layouts/post.njk
teaser: "As is apt for us web types, I've given a reboot to my professional website."
image: "/blog/13903560833_970f66b3c2_k.jpg"
date: 2017-07-25
url: /posts/20170725-site-update.html
permalink: posts/20170725-site-update.html
active_path: blog
tags: posts
---
<div class="padding-top-xlarge"></div>
<img class="callout" src="/images/crop-cinema{{image}}" />

{% markdown %}

{{ date | dateDisplay }}

# {{title}}

<p class="lead">As is apt for us web types, on <a href="https://web.archive.org/web/20170625193445/https://allaboutken.com/">25 July 2017</a> I gave a reboot to this website.</p>

Why? The content was slightly outdated and I was keen to move it from a Drupal-powered site to a Gulp powered site.

Why move from Drupal to a static site when I'm just working with simple content? That's exactly why.
{% endmarkdown %}
