---
title: Five highlights from EuroIA 2017
layout: layouts/post.njk
teaser: "I'll tragically ignore Stockholm and highlight inclusion, embracing and enabling."
image: "/blog/euro-ia.jpg"
date: 2017-10-06
url: /posts/20171002-euroia-2017-takeaways.html
permalink: posts/20171002-euroia-2017-takeaways.html
active_path: blog
tags: posts
---

{% markdown %}

<div class="grid-x vf-u-padding__bottom--md vf-u-padding__top--lg vf-u-padding__bottom--lg">
  <div class="large-8 medium-6 cell"><img class="callout" src="/images/original/blog/euro-ia.jpg" />
  </div>
  <div class="large-10 medium-12 cell">
  <small>300 professionals from 30 countries attended the 13th summit.</small>
  </div>
</div>

{{ date | dateDisplay }}

# {{title}}

<p class="lead">This year's installment of Europe's best information architecture gathering was my second visit. I was happy to have a similar takeaway: [EuroIA](https://euroia.org/) has been a great way to check my perspectives, infuse them with the views of others and step back, dwell on the point of all this.</p>

I was fortunate enough to be one of three staffers from EMBL-EBI — and one of two with the Web Development team — to attend this year's Euro IA conference in Stockholm, and aside from the general fantastic food, views and culture of Sweden and Stockholm, here's a sprinkling of personal highlights from EuroIA.

Colouring my notes is that this year was also an opportunity to dwell on ideas [we](https://blogs.embl.org/communications/tag/design)'ve been discussing [in the EMBL Corporate Design Sprints](https://blogs.embl.org/communications/tag/design/), particularly those around a pan-organisation IA. At any rate, onto my highlights:

## 1. Keep it flexible, be an enabler

<div class="text-center">
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The <a href="https://twitter.com/euroia?ref_src=twsrc%5Etfw">@euroia</a> keynote reaffirms work on <a href="https://twitter.com/embl?ref_src=twsrc%5Etfw">@embl</a> &#39;s information structure: enabling possibilities, flexibility, iteration <a href="https://twitter.com/hashtag/euroia17?src=hash&amp;ref_src=twsrc%5Etfw">#euroia17</a> <a href="https://t.co/Qhel2yFyKQ">pic.twitter.com/Qhel2yFyKQ</a></p>&mdash; Ken Hawkins (@khawkins98) <a href="https://twitter.com/khawkins98/status/913383556033937408?ref_src=twsrc%5Etfw">September 28, 2017</a></blockquote>
</div>

This feeling was most evident in ​Stephanie Akkaoui-Hughes' [Thursday keynote](https://euroia.org/sessions/stephanie-akkaoui-hughes-keynote) that focused on "Architecting Interactions".

Key points, highlights:
- Don't design an interaction, design context for an interaction. That is, don't force a user to push the button to open doors, create an environment where pushing a button seems how you should open a door.
- Stay organic, flexible and holistic: "Incomplete, impermanent, imperfect"
- Don't push change through dictation, pull change through facilitation

Her slides don't appear to be online, but you can [see a video from a similar earlier presentation here](https://www.youtube.com/watch?v=jbT_RJD94bc).


## 2. Don't be an exclusionary force

<div class="text-center">
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Domain driven design talk at <a href="https://twitter.com/hashtag/EuroIA17?src=hash&amp;ref_src=twsrc%5Etfw">#EuroIA17</a> <a href="https://t.co/eII4dGKoj8">pic.twitter.com/eII4dGKoj8</a></p>&mdash; Mark Foley (@folomarco) <a href="https://twitter.com/folomarco/status/913390773344915456?ref_src=twsrc%5Etfw">September 28, 2017</a></blockquote>
</div>

Reviewing work to rein in some 50 different domains, Anya Somerville, Silver Oliver and Michael Smethurst presented on [Domain Driven Design at UK Parliament](https://euroia.org/sessions/domain-driven-design-at-uk-parliament).

To discover what is closest to the truth, they noted the importance of talk therapy to get stakeholders relaxed and open. Often this revealed the important things which no one had previously thought to mention.

Also of importance was to keep the [rather complex concept domain driven design](https://en.wikipedia.org/wiki/Domain-driven_design) as an inclusive and facilitating process — avoiding past incidents where those who could not master IA-speak were simply forced out.
{% endmarkdown %}

<div class="callout">
{% markdown %}
### Observation: To vertically integrate or be web-wide?

A point of interest when contrasting with work to unite EMBL's IA, where Parliament has been able to pursue a unifying IA, it also sees an opportunity to unite [its implementation stack](https://github.com/ukparliament/parliament.uk-prototype).

This is in contrast to our work at EMBL, while we are also working to formulate a global IA we are unable (for better or worse) to recommend a single technical stack. This complicates things, but provides interest in that our IA should — in theory — be largely technology agnostic.
{% endmarkdown %}
</div>

{% markdown %}

## 3. You're only as good as your proof is understood

<div class="text-center">
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Loving this mistake list by <a href="https://twitter.com/AlisanAtvur?ref_src=twsrc%5Etfw">@AlisanAtvur</a> about user research <a href="https://twitter.com/euroia?ref_src=twsrc%5Etfw">@euroia</a> <a href="https://twitter.com/hashtag/euroia17?src=hash&amp;ref_src=twsrc%5Etfw">#euroia17</a> <a href="https://t.co/CODnZgiakt">pic.twitter.com/CODnZgiakt</a></p>&mdash; Raffaella Roviglioni (@Raffiro) <a href="https://twitter.com/Raffiro/status/914115390288093184?ref_src=twsrc%5Etfw">September 30, 2017</a></blockquote>
</div>

Reminding me I should take an extra five minutes in preparing everything I do, Alisan Atvur presented on "[Why Insights Die](https://www.euroia.org/sessions/why-insights-die)" and I see a key fulcrum: convert research into action by placing evidence on a logical path to conclusion.

Maybe ears aren't deaf, maybe you're just haven't localised your dialect.

## 4. Where is this all headed?

<div class="text-center">
<iframe src="//www.slideshare.net/slideshow/embed_code/key/tKrZsGbHz9GH0O?startSlide=103" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
</div>

Sandwiching in the conference, IA celeb Lou Rosenfeld presented on "[Beyond User Research](https://www.slideshare.net/lrosenfeld/beyond-user-research)".

One can't say if it was fully the intent of Rosenfeld, but the message I heard tied in well to the theme of many talks: what we do doesn't matter if nothing changes.

## 5. Create change

There's plenty more [to be said for EuroIA 2017](https://twitter.com/hashtag/euroia17?src=hash), but I'll draw a focus: IA and UX have achieved a great success in getting institutional attention. The metaphorical metal is hot.

The time is now and we should translate our methodologies into operations to enact change.

Abstract concepts and data are the heat for our metal, our solutions are the forging, but we must not forget to help our colleagues temper these notions into working methods. Thereby we best resist entropy.

We always aim to better the path to organisational and user success, to get there we work with and within our organisations to build reusable tooling and methods. We help discover the best series of actions, then we aim to make the best the default. Once you've done that, loop back and see what is now the best series of actions.

It really all does [come back to organisational change](https://twitter.com/markboulton/status/913743185075146753), and we can best achieve that by improving an organisation's tools.

## More?

You can get [many of the slide decks from EuroIA 2017 here](https://medium.com/@euroia/overview-of-presentations-sketchnotes-euroia17-3660017b55be), or [get the highlights on Twitter](https://twitter.com/hashtag/euroia17?src=hash) and don't forget the 2018 edition is [coming in September to Dublin](https://euroia.org).

Go on, read a bit more. Those links are just a [wafer thin mint](https://youtu.be/GxRnenQYG7I?t=5m0s).
{% endmarkdown %}

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
