---
title: Better corporate design through information architecture
layout: layouts/post.njk
teaser: "Using 'brand archetecture' at the heart of identitity design."
image: "/blog/triangle-key.png"
date: 2017-07-23
url: /posts/20170723-corporate-design-through-ia.html
permalink: posts/20170723-corporate-design-through-ia.html
active_path: blog
tags: posts
---

<div class="vf-u-padding__top--500">
<div><img class="callout" src="/images/original{{image}}" /></div>
{{ date | dateDisplay }}
</div>
<div class="medium-10 cell">

{% markdown %}

# {{title}}

<p class="lead">A leader in the lifesciences and advancing the skills of those in the field, EMBL (my current employer) is not only a fantastic place to work, but just plain impressive.</p>

The current projection of that brand does not measure up to EMBL's place in its community.

Kicking off our recent "Corportate Design Sprint 1", Tabea Rauscher (an EMBL colleague) [wrote](https://blogs.embl.org/communications/2017/06/26/cd1-on-embls-brand/) about the entropy that was eating away at EMBL's perception:

> For example, services are part of the core mission of the organisation but currently they exist at the outer ‘disassociated’ layer of our brand map. The net effect of this is that many users of these services will be unaware that they are supported by EMBL (perhaps even what EMBL is), and will not know the full breadth of services on offer by EMBL.

EMBL simply isn't coming through as a coherent idea amongst it's nearly 2,000 staff and six sites across Europe.

That fragmentation was manifesting itself in visual design and writing, but the problem is rooted in a deeper perception of how EMBL self categorises its purpose.

Simply put we fell victim to the classic problem of [naming things around internal structure and not for what they are](https://blogs.embl.org/communications/2017/07/05/name-it-for-what-it-does/).

Having introduced the topic, here's where I hand you off to how we distilled the problem and have begun formulating a solution by architecting out what EMBL does, who is involved and where they are.

### Part 1: Diagnosis

{% endmarkdown %}
<span class="grid-main-content-area padding-bottom-xlarge"><span class="cell small-9">
{% markdown %}
> With the ‘structure map’ we see EMBL’s intent more clearly:
>   - What: The magenta stickies about the activities EMBL provides and facilitates
>   - Where: The yellow stickies of the six EMBL sites
>   - Who: The people, groups, teams and services that make up EMBL
>
> This is a first look at the shared truths of the pan-EMBL structure — the model isn’t finished, but we’re a lot closer (we still need to account for how these relate to each other and how importance varies across user types) but this is a defensible look at the structure EMBL uses to achieve its mission.
<a href="https://blogs.embl.org/communications/2017/07/11/mapping-brand-structure-to-support-communication/" target="_blank" class="readmore">Read "Mapping brand structure to support communication"</a>
{% endmarkdown %}
</span><span class="cell small-3"><img src="https://i.imgur.com/NUHF3qo.png" /></span></span>
{% markdown %}

### Part 2: Architecting a holistic solution

{% endmarkdown %}
<span class="grid-main-content-area padding-bottom-xlarge"><span class="cell small-8">
{% markdown %}
> Using Who, What and Where as facets in all content allows use across all EMBL websites. These facets may not be shown in every view of content, but their capturing as content metadata allows us to pivot, mold and transform content.
>
> This holistic approach yields continuity and keeps content true to EMBL and user needs.
<a href="https://blogs.embl.org/communications/2017/07/18/the-embl-triangle-key-from-brand-structure-to-information-architecture/" target="_blank" class="readmore">Read "The EMBL Triangle Key: From brand structure to information architecture"</a>
{% endmarkdown %}
</span><span class="cell small-4"><img src="https://i.imgur.com/zHRUoxl.png" /></span></span>
{% markdown %}

### Part 3: Implementation

<div class="callout">
  UPDATE 2017-09-13: [We've been working on implementing this model, read the update](/posts/20170913-fluid-information-architecture.html).
</div>

~~We're not here just yet, but during 2017 we'll be working to take this concept from architecture to implementatble navigation and layout patterns.~~

~~Check back on this blog around mid-September for more — you could also [get the RSS feed](/rss.xml) or [follow me on Twitter @khawkins98](https://twitter.com/khawkins98).~~

<br/><br/><span class="emoji">✏︎</span> Bonus: [A post on the naming of things](https://blogs.embl.org/communications/2017/07/05/name-it-for-what-it-does/).

{% endmarkdown %}
</div>
