---
title: 8 Video conferencing tips, dos, don’ts
layout: layouts/post.njk
teaser: "Depending on your work, you may find yourself needing to video conference with a few or many people. While most any video platform and kit can work great for one-to-one video calls, I'd like to share lessons learnt in my previous roles and during my time in EMBL-EBI's Web Development team."
image: "/blog/webcam.jpg"
date: 2017-10-27
url: /posts/20171027-video-conferencing-tips-dos-donts.html
active_path: blog
tags: posts
---

<div class="medium-12 cell padding-top-large">
<div class="">

{% markdown %}

<div class="grid-x padding-bottom-medium padding-top-large padding-bottom-large">
  <div class="large-8 medium-6 cell"><img class="callout" src="{{root}}images/original/blog/webcam.jpg" />
  </div>
  <div class="large-10 medium-12 cell">
  <small>Small things make a big difference, like this tiny and simple but well-made webcam.</small>
  </div>
</div>

{{ date | dateDisplay }}&nbsp; &nbsp; <small><span class="emoji">ℹ️</span> This post is cross-posted from the [EMBL-EBI TSC Blog](https://www.ebi.ac.uk/about/technology/2017/10/8-video-conferencing-tips-dos-donts/).</small>


# {{title}}


<p class="lead">Depending on your work, you may find yourself needing to video conference with a few or many people. While most any video platform and kit can work great for one-to-one video calls, I'd like to share lessons learnt in my previous roles and during my time in EMBL-EBI's [Web Development team](https://www.ebi.ac.uk/about/people/jonathan-hickford).</p>

## 1. Mute when you don't plan to speak

This tip is extra important when you're using your computer's built-in microphone and speakers. It's tough enough chatting over video but it's even worse when a viewer's microphone picks up the speakers voice and echoes it back in.
If you don't expect to speak up in the 30 seconds, mute your microphone. It'll save a few KB/s of bandwidth and make the audio much clearer.

## 2. Close those extra tabs and applications

Bandwidth can often be the cause of slow and jerky video conferencing, but a CPU that's churning away some badly behaving web advertisement will make it far worse and you'll be stu-t-t-t-t-tttering away.

If you're dialing in from home, you might also want to be sure no one else is updating their OS or torrenting Game of Thrones.

## 3. Don the headset of geekery

<div class="float-right columns small-3 medium-2 small">
<img class="" src="https://www.ebi.ac.uk/about/technology/wp-content/uploads/2017/10/h390-gallery-300x258.png" alt="" width="300" height="258" />
<br/><small>The &#8220;Logitech H390 USB Headset&#8221;, Studmuffin edition.</small></div>

Even you mom wouldn't say you look good in a call centre-style headset, but you'd hear her better when she says you look like a disgrace. And mum would hear your crying crystal clear.

When you're dialing in solo, a headset really helps with audio quality and can even help you cheat on needing to mute every few seconds. Even a pair of iPhone earbuds will make a huge difference.

We've found the Logitech H390 headset to work well, and it has a convenient mute button on the cable.

You should be able to get it for less that £30.

## 4. Use a decent webcam

A good webcam not only gives you a better picture quality, but it allows you to:

1. Change the viewpoint (unless you just like everyone seeing the bottom of your chin?); and<
2. Most have a wider field of view so your can fit in the person(s) sitting beside you.

We've been using the &#8220;Logitech C920 HD Pro Webcam&#8221;. It does the above and has a better microphone than your laptop, great if you have a group on your end.
You should be able to get it for less that £70.

## 5. Big microphone for big groups
If you're calling from a big room, bring along a big microphone. Not only will it have a bigger microphone, some will allow you to capture audio from 360º, or from a single direction — blocking out a noisy background.
<a href="http://www.bluemic.com/products/snowball/#capture-a-variety-of-sources">Blue's &#8220;snowball&#8221;</a> does this well for about £60.

## 6. Skype is easy, but it's not reliable
If you're dialing into on the VC rooms through Lifesize Cloud, you won't have much of a choice. But otherwise with video conferencing you really do get what you pay for, Skype, Google Hangouts and Slack are fantastic for the convenience, but quality can be vastly variable.
We've found <a href="https://zoom.us/pricing">Zoom</a> and <a href="https://www.join.me/en/pricing">Join.me</a> to be miles better in reliability.

## 7. Always improve
The technology involved in calling is always getting better, so it's worth re-evaluating your kit and platforms every 6 months to see if there's something better.

## 8. Consult the Desktop Team
The EMBL-EBI Desktop team has <a href="http://tsc.ebi.ac.uk/article/video-conferencing">guides on using the VC facilities</a> and <a href="http://tsc.ebi.ac.uk/article/portable-av-equipment">some nice kit to borrow</a>.

## Bonus: Don't foget about the culture of meetings
Further reading on the <a href="https://www.hanselman.com/blog/TragediesOfTheRemoteWorkerLooksLikeYoureTheOnlyOneOnTheCall.aspx">culture of video conferencing over at Scott Hanselman's blog</a>.

## What say you?

This list is a work in progress and I certainly don't think we've solved the issues involved. What do you think of the above? Other tips? khawkins@ebi.ac.uk or <a href="https://twitter.com/khawkins98">@khawkins98</a> or <a href="https://twitter.com/ebi_web_ux">@ebi_web_ux</a>
{% endmarkdown %}
</div>
</div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
