---
title: "UX Discovery, UX Analysis + the CAM"
layout: layouts/post.njk
teaser: "What does it mean to 'do UX' with our Content Action Model? Beyond the buzz."
image: "/blog/doors.jpg"
image_meta:
  text: 'Three options, but which does a user want? Maybe they do not want any of the three. Thanks to Flickr user isa for the image [<a href="https://www.flickr.com/photos/58231478@N00/7739966376/">CC License</a>]'
  altext: Three doors.
date: 2018-02-07
url: /posts/20180207-discovery-and-analysis.html
permalink: posts/20180207-discovery-and-analysis.html
active_path: blog
tags: posts
topics:
  - CAM for Web Systems, UX
---

{% markdown %}

In January I [wrote about the Content-Action Model for Web Systems](/posts/20180122-content-action-model.html), a method I've been working on to better unite strategy, user actions, content and change over time. This post will look at the Content-Action Model (CAM) and it's relation to and participation of UX.

UX is key to the CAM process, it challenges assumptions and fuels new idea creation — that said, of course UX is vital. If you're doing anything online and not paying attention to [user experience design](https://en.wikipedia.org/wiki/User_experience_design), you're doing things poorly.

But what does it mean to generically "do" something as broad as UX?

In my [intro post on the CAM](/posts/20180122-content-action-model.html) I sighted only some passive UX "diagnostic" tools of user surveys, feedback and analytics.

But, you shouldn't only be doing passive UX research, and the CAM helps us distill component beliefs — so we can dig deeper than passive forms of UX.

## Getting to good UX: An example

With the CAM the importance is both in the process and capturing specific hypothesis, clearly stating our user types, goals — and the relation between these.

<figure class="">
<figcaption><h3 style="color:#fff;">Making records to be challenged</h3></figcaption>

<div class="grid-small-up-1 medium-up-3">
  <div class="cell"><div class="card"><div class="card-section">
    <span class="h5"><span class="emoji">👤</span> New customers</span>
  </div></div></div>
  <div class=""><div class=""><div class="card-section">
    <span class="h5">want <span class="emoji">➡️</span></span>
  </div></div></div>
  <div class="cell"><div class="card"><div class="card-section">
    <span class="h5"><span class="emoji">⭐️</span> to buy subscriptions</span>
  </div></div></div>
</div>
</figure>

Our CAM is composed of implied relationships like these, which we can:

1. **Challenge the relationship:** do new customers really want to buy subscriptions? What evidence do we have?
2. **Examine the components:** who are new customers? It's a pretty broad segment with perhaps many personas or sub-groups.

<figure class="">
<figcaption><h3 style="color:#fff;">Investigating implied relationships and individuals</h3></figcaption>

<div class="grid-small-up-1 medium-up-3">
  <div class="cell"><div class="card"><div class="card-section">
    <span class="h5"><span class="emoji">👤</span> New customers</span>
    <div class="callout small">
      Who specifically are these people? Is it only one type? Let's investigate a sample of visitors.
    </div>
  </div></div></div>
  <div class=""><div class=""><div class="card-section">
    <span class="h5">want <span class="emoji">➡️</span></span>
    <div class="callout small">
      Do they?
    </div>
  </div></div></div>
  <div class="cell"><div class="card"><div class="card-section">
    <span class="h5"><span class="emoji">⭐️</span> to buy subscriptions</span>
    <div class="callout small">
      Talk to and observe the people we identify.
    </div>
  </div></div></div>
</div>

The CAM is designed to distill and challenge these hypothesis as we complete an iteration of a CAM record:

<figure class="callout large-12 cell">
<img src="/images/original/blog/cam-process.svg" />
<figcaption><strong>Figure 1.</strong> What CAM for Web Systems looks like in motion. Stages 1, 2 and 3 represent one iteration and version of a CAM record.
</figcaption>
</figure>

When these deeper questions are posed we're exiting the measure cycle and re-entering our divergence phase. It's a good and logical time to use more time-intensive and open-ended processes like in-person interviews.

<style>ol ol { list-style-type: lower-alpha; } #main-content-area li { margin-bottom: .5rem; } p, li { max-width: 800px; } .card {color: #555; }</style>

## Building the CAM, what's next?

The Content-Action Model for Web Systems is an emerging methodology and I'll be blogging about it throughout 2018 as the system matures and distills.

Next I'll likely be working to establish a formal ontology for the CAM, and to make a "Getting started" post.

Until then, if you've not already read about the CAM, [check out the original post here](/posts/20180122-content-action-model.html).

{% endmarkdown %}
