---
title: "Faster scientific websites through reusability"
layout: layouts/post.njk
teaser: "Growing an EMBL‑EBI solution into a Visual Framework for the life sciences."
date: 2018-09-12
tags: posts
topics:
  - design systems
  - Visual Framework
  - performance
via: "https://www.embl.org/about/info/communications/blog/2018/09/faster-scientific-websites-through-reusability/"
---

{% markdown %}

Building a website is easy. Building a good website is trickier. Building that good site quickly is hard. And if you want a beyond-hard challenge, also match your organization’s look, feel and brand requirements.

At EMBL-EBI we already had a good tool, but it didn't scale well to the impressive range on life science web services.

> Within EMBL scientific teams are free to bring their own technical solutions to their problems — that means the EBI Visual Framework has to run across a variety of front ends (Angular, React, vanilla HTML) and it also needs to run alongside other solutions, like Bootstrap. All of this is possible, but it is often messy; example: which framework should style your `.button` elements?

Learn more about how I help make [Faster scientific websites through reusability](https://www.embl.org/about/info/communications/blog/2018/09/faster-scientific-websites-through-reusability/) at my original post at EMBL.

{% endmarkdown %}
