---
title: "The Content-Action Model origin story"
layout: layouts/post.njk
teaser: "Beyond the Core Content Model and into organisations, actions."
image: "/blog/terra-incognita.jpg"
date: 2018-01-22
url: /posts/20180122-content-action-model-origin-story.html
active_path: blog
topics:
  - CAM for Web Systems, origin story
---

<style>ol ol { list-style-type: lower-alpha; } #main-content-area li { margin-bottom: .5rem; } p, li { max-width: 800px; }</style>

<div class="medium-12 cell padding-top-large">
<div class="">

{% markdown %}

<div class="grid-x padding-bottom-medium padding-top-large padding-bottom-large">
  <figure class="large-10 medium-8 cell callout"><img class="padding-bottom-medium" src="{{root}}images/original/blog/terra-incognita.jpg" />
    <cite class="text-right">Gutiérrez, Diego, Active, Hieronymus Cock, and Lessing J. Rosenwald Collection. Americae Sive Qvartae Orbis Partis Nova Et Exactissima Descriptio. [<a href="https://www.loc.gov/item/map49000970/">Library of Congress</a>].</cite>
    <figcaption>Gutiérrez and Cock 1562 map of the Americas "vlterius hec terra incognita permansit": we're trying to explore connected, but new spaces.</figcaption>
  </figure>
</div>

{{ date | dateDisplay }}&nbsp; | &nbsp; An aside to the [Content-Action Method for Web Systems](20180122-content-action-model.html) post


# {{title}}

<p class="lead">{{teaser}}</p>


I started to use Core Content Model methods (first [enshrined by Ida Aalen](https://alistapart.com/article/the-core-model-designing-inside-out-for-better-results)), and found them to be incredibly useful—but not quite right. The [Content-Action Method for Web Systems](20180122-content-action-model.html) took shape when I started to radically adjust the format and scope to suit the needs of our organisation and its diverse users and—wait for it—our strategy.

## How is the CAM for Web Systems different?

The CAM for Web Systems was originally based on the Core Content Model idea (see Figure 1).

<div class="grid-x padding-bottom-medium padding-top-large padding-bottom-large">
<figure class="callout large-12 cell cell">
<img src="{{root}}images/original/blog/cam-vs-core-content-model.svg" />
<figcaption><strong>Figure.</strong> Venn diagram showing where the Affordance Method overlaps with the Core Content Model, and where they both sit on the spectrum of ‘system management’ vs ‘new concept exploration’. I’ve marked where goal measurement, identification and exploration sit most comfortably.
</figcaption>
</figure>
</div>

The CAM for Web Systems (in our experience) has proven very effective when workshopping new websites. (We also use the HEART Framework for new, more creative thinking.) The CAM for Web Systems has worked better for on-going maintenance, consensus building, evaluation and improvement of existing sites.

## Advantages of the CAM

There are a few reasons why our CAM for Web Systems (built on the Model) works well for evolving existing sites:

1. **Database friendly:** The CAM for Web Systems uses a less free-thinking format (i.e. a text and/or database record), so the information is richer for comparing with other records (and much easier to use forensically). The format lends itself particularly well to internal communication and arbitration.
2. **Interlinking:** The framework is designed for internal cross-referencing, both within a CAM Record and across many of them.
3. **Wider focus:** The CAM for Web Systems closes the loop on:
  - evaluating success
  - change over time
  - user types
  - organisational placement.

## More on the CAM?

This post only discusses how the CAM compares to the Core Content Model method, for more about the CAM: <a href="20180122-content-action-model.html" class="readmore">read the overview of the Content-Action Method for Web Systems</a>

{% endmarkdown %}
</div>
</div>
