---
title: "EMBL-EBI Day: Visual Framework 2.0 outreach"
layout: layouts/post.njk
image: "/blog/ebi-day-2019-vf2-poster.jpg"
image_meta:
  text: "Poster for the Visual Framework 2.0 at EMBL-EBI Day 2019. Me/EMBL"
  altext: "Poster for the Visual Framework 2.0 at EMBL-EBI Day 2019."
teaser: "Sharing VF 2.0 with developers: flexible, backwards‑compatible components and docs for faster adoption."
date: 2019-06-27
tags: posts
topics:
  - design systems
  - visual framework
  - outreach
via: "https://www.embl.org/about/info/communications/blog/2019/06/the-visual-framework-2-0-web-developer-outreach-at-embl-ebi-day-2019/"
---

{% markdown %}

Quick note to promote a post I've written on the VF 2.0 outreach at EMBL‑EBI Day 2019. We highlighted how 2.0 avoids breaking changes, supports multiple stacks, and provides clearer docs—making it easier for teams to adopt the design system in place, then evolve.

Read it here 👉 [The Visual Framework 2.0: Web developer outreach at EMBL‑EBI Day 2019](https://www.embl.org/about/info/communications/blog/2019/06/the-visual-framework-2-0-web-developer-outreach-at-embl-ebi-day-2019/)

{% endmarkdown %}
