---
title: "Publishing since the 2000s"
layout: layouts/post.njk
teaser: "In a career of 20 years, the more things change the more they stay the same."
image: "/blog/20years-ibook-g4.jpg"
date: 2020-02-08
url: /posts/20200208-its-been-20-years.html
active_path: blog
tags: posts
topics:
  - career, reflection
---

<div class="medium-12 cell padding-top-large">

<div class="grid-x padding-bottom-medium padding-top-large padding-bottom-large">
  <figure class="large-10 medium-8 cell callout"><img class="padding-bottom-medium" alt="Top-notch web design circa 2001" src="/images/original{{image}}" />
    <figcaption>Thanks to the Wayback Machine miracle, we can enjoy <a href="https://web.archive.org/web/20020120145620/https://envmedia.com/">this snapshot</a> of one of my more serious early websites: made for the video company Environmental Media, it had search, Flash video clips and an online shop with a shopping basket and checkout, way back in 2001! Quite a feat for a young me. &mdash; I really liked that little laptop. Background image of that iBook G4 <a href="https://www.flickr.com/photos/adrians/60475676/in/photolist-6kXj5-6kXju-vLsWz-4vP5r-6kXiE-8XfChT-3nMs4M-8tW8x-4vP4p-3HbLZ-4vP4R-39rR4-tgYum-JFXpj-2WpK-sNPvX-3G1TX-4kYng-avNgY-3G1Ya-5yBD6-3G1ZW-22W9V-4pEAaE-4dFecP-8MtD4L-cjrci-92fzYP-92iGn7-5CTN5t-36qRks-3HbHh-95nW-2E7io-4MHkbU-3HbGM-3G22i-2vrNs1-2UJcTG-3HbLd-8DfTn-3HbPf-3G1Wa-3G1WY-68JV5-7RbA7t-36Szh-3HbMx-3G1Vk-3HbKv">by Adriam MB</a>.</figcaption>
  </figure>
</div>

{% markdown %}
{{ date | dateDisplay }}&nbsp; &nbsp;<span class="label">Filed in: {{topics}}</span>

<div class="grid-x">
<div class="large-11 medium-12 cell">
<h1>{{title}}</h1>
</div>
</div>

<div class="grid-x">
<div class="large-9 medium-12 cell">

<h2 class="lead">{{teaser}}</h2>

Last weekend I stumbled upon a folder of clips from my newspaper work, bringing the realisation it's been 20 years since my first newspaper gig in January 2000. 

<!--I will resist reciting my career (for that [you can visit my CV page](https://work.allaboutken.com/cv/)), but I'll indulge in a little bit of reflection.-->

How different things seem now.

It's hard to not notice the change in technology and speed. Partly that’s from moving from infographics for print-focused newspapers ([example](/images/original/blog/20years-house-move.pdf)) to digital publishing. 

But in print publishing and online, technology changes have been tremendous — so much so you’d think it was _the_ change.

<figure class="callout">
  <img class="padding-bottom-medium" alt="Tightly pairing Fractal and Eleventy can be done" src="/images/original/blog/20years-rebuilding-quark.gif" />
    <figcaption>A fabricated bit of Mac OS 7 and Quark nostalgia &mdash; just like the good ol' days.</figcaption>
</figure>

My daily software in 2000 was Quark 4 on Mac OS 7. I don’t think there's anything about that duo to be nostalgic for, other than for a fragile software environment encouraged you to focus. Or you could use ["cooperative" multitasking](https://en.wikipedia.org/wiki/MultiFinder) that would eat away at your dozens of MBs of RAM and likely bring a reboot. 

<style>
@media print, screen and (min-width: 75em) {
  .sidebar-figure {
    max-width: 500px;
    float: right;
    margin-right: -8rem;
    margin-left: 1.5rem;
  }
}
</style>

You were always one bad PostScript ad placement away from a system lock and losing 30 minutes of work.

<!-- For those who didn’t use it or have forgotten, it looked like: 

<div class="grid-x">
<figure class="large-10 medium-8 cell callout"><img class="padding-bottom-medium" alt="Tightly pairing Fractal and Eleventy can be done" src="/images/original/blog/20years-quark.jpg" />
  <figcaption>I don’t think there's anything about QuarkXPress 4 on Mac OS 7 to be nostalgic for, other than the lack of real multi-tasking and fragility of the environment meant that you stayed focused on the task. No switching out for a bit of quick website reading, unless you wanted the whole system to reboot. <a href="https://main.system7today.com/software/quark/screenshot.html">Source: System7Today</a></figcaption>
</figure>
</div>
-->

Fancier things like Quark 5 and Adobe's InDesign were already shaking things up (did I ever want that optical kerning), but they were too new and simply weren’t trusted for our daily production needs and printing and waxing. 

From a [MacWorld column](https://www.macworld.com/article/1013910/quarkvsindesign.html) in January 1999: 

> InDesign is that it runs relatively briskly, particularly with long documents on G3 or better machines. Still, I'm the first to admit that InDesign's recommended system requirements &mdash; the list includes a G3 processor, OS 8.5 or later, and 128MB of RAM &mdash; are excessive. (Quark recommends that XPress users have 10MB of RAM.) I would be a bald-faced liar if I didn't admit that XPress fares better on slower systems.
>
> But the topic is typesetting, not performance.

And there were still very analogue parts of the workflow, like lifting and pasting ads and copy.

<div class="grid-x">
<figure class="large-10 medium-8 cell callout">
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/CwrePe4-ID4?start=144' frameborder='0' allowfullscreen></iframe></div>
  <figcaption>Waxing nostalgic for the tactile processes: advertisements were physically lifted and pasted across editions and typos from final proofs were cut and arranged away before being sent to the press cameras. Highly nostalgic, but I don't know that I'd go back.</figcaption>
</figure>
</div>

Improving technology brought faster iteration cycles. Particularly in 2008 when I switched from working for newspapers to an online-only publication.

Speed and features were everything we needed, at least it felt that way.

### <a name="part1" href="#part1">The siren call of the early web tools</a>

Although my years in print publishing until 2008 were filled machine-locking system errors and lifting and re-waxing ads from yesterday’s edition, the web had its own horrors waiting behind a veneer of instant publishing.

The acronym WYSIWYG still haunts web publishing in 2020.

<figure class="sidebar-figure callout">
  <img class="padding-bottom-medium" alt="Dreamweaver 4 circa 2000 as it scanned a website's files" src="/images/original/blog/20years-dreamweaver-2.jpg" />
  <figcaption>Dreamweaver allowed you to build websites as though they were QuarkXPress documents. A fine idea if the web were a book. For a decade that thought stunted my understanding of the potential of the web.</figcaption>
</figure>

If you designed print documents you know the importance of using your document styles to manage text properties and images, however it was a concept that didn't really exist for the web until CSS arrived in 1996 and it took CSS some time to go from managing styling to empowering layout. Internet Explorer would dominate and we would have to wait until mid-2000s for meaningful CSS innovations to arrive. 

It was a rough time.

Fortunately, I won’t have to retell it all, with serendipitous timing, developer Evelyn Woods has written [a retrospective on the CSS and the web dating from a similar time period](https://eev.ee/blog/2020/02/01/old-css-new-css/), in part:

> I&#8217;ve been taking for granted that <em>most</em> folks doing web stuff still remember those days, or at least the decade that followed, but I think that assumption might be a wee bit out of date.  Some time ago I encountered a <a href="https://twitter.com/keinegurke_/status/1162309192855822339">tweet</a> marvelling at what we had to do without <code>border-radius</code>. 
>
> I&#8217;m here to tell <em>all</em> of you to get off my lawn.  Here&#8217;s a history of <span class="caps">CSS</span> and web design, as I remember it.

New and incredible features were coming all the time (oh how [Firebug](https://getfirebug.com/) was magical), but there were so few established best practices and fewer people to get good advice from. And software didn't always point you in the best direction. 

Why use code templating and partials? Use Dreamweaver's library and export hundreds of pages in Word-like interface! ... It will only be error prone and ridiculously slow.

<figure class="callout">
  <img class="" alt="Dreamweaver was not a speed champ. One update and you had to re-render hundreds of files." src="/images/original/blog/20years-rebuilding-envmedia.gif" />
  <figcaption>Dreamweaver was a (slow) static site generator before they were the hotness, but it was also a WYSIWYG, FTP client and pretty much everything else. A real <A href="https://en.wikipedia.org/wiki/Jack_of_all_trades,_master_of_none">jack of all trades</a>. </figcaption>
</figure>

The tools and their developers did their best to fill the gaps, but if I never have to upload a site by FTP again, it will be too soon. 

I have nostalgia for the process of print publishing, I don’t have that for websites of the same period. Sure, there was the novelty of your first few small websites &mdash; but beyond a few pages, the horrors of WYSIWYG, cgi-bin, proprietary browser features and more lay in wait. 

Digital was chaos of new-ness, at least print had far more years of processes to learn from.



### <a name="part2" href="#part2">How do we do better?</a>

From the early-mid 2000s the tools are vastly better. They amplify our ability to produce far more _stuff_ in 24 hours, but they don't help us ensure we're going in the right direction. 

Producing the _right stuff_ is no easier than it was for the web in 2004 or for print. 

<!-- Twice as much of the wrong answer doesn't help anyone.  -->

<!--The web still has issues but tools are mature and generally reliable and delivery is fast.-->


<!--To do good work, the real problem remains very human: agreeing on goals, setting expectations, motivating teams.--> 

<!--From the start of my career I've focused on technical ability, but I view that with increasingly less interest. Better to have slower production of the right answer.-->

Thanks to better tools we can take our time savings and refocus on the fundamental and universal hard problem: what are we trying to achieve here?

<!-- I still don’t know how to describe what I do, web and information acrobat is probably the closest I’ve come. I bet recruitment systems will love that. -->


---

<div class="grid-x">
<figure class="large-10 large-push-1 medium-8 cell">

### <a name="aside1" href="#aside1">Addendum: it's not just publishing's problem</a>

The increasing capability of technology has often been helpful and sometimes quite un-helpful. 

As CDs (and later DVDs) became common they made it easy for software sizes to grow and grow. 

Dreamweaver 4 was roughly 15 MB in size, while its successor came on a CD and needed 140 MB. From a distribution perspective it's a reasonable thing to do, but bigger installs meant more space occupied on your computer's hard drive and more data to be read off a spinning hard drive. 

Often the convenience of the developer was a slowdown for users. 

Web publishing saw similarly with the arrival of faster internet speeds, allowing us website makers to spend less time optimising imagery and assets. 

The point? 

Increased technical ability allows us to do more, but it also allows a deemphasis on optimisation. Users pay with computers that seem slower and less capable. It costs users by making an internet connection and CPU upgrade feel more critical. And it costs real money on metered data plans. 

It's a feeling echoed by the recent re-launch of a famous real-time strategy game, Warcraft 3. 

I enjoyed playing the other games in the series in the '90s and Warcraft III launched in 2002 with new 3D graphics, a feature I had often avoided in games as early 3D games suffered from issues around camera positioning and poor performance and unpolished graphics. However Warcraft III was implemented well and had a compelling story. It opened me to more 3D games. 

Fast forward to 2020 and Warcraft III was relaunched in a remastered edition: Warcraft III Reforged. With two decades of improving performance and lessons learned about gaming interfaces, there were many opportunities for a fantastic remaster. 

But much like the Star Wars prequel trilogy, more technology does not always mean better. Keyboard and mouse controls were not improved and felt more dated as keyboard layouts changed in the passing years, 3D visuals were un-improved looking flat and muddy, popular features removed, and the install size ballooned from 1.3 GB to 23 GB; [Ars Technica notes](https://arstechnica.com/gaming/2020/01/warcraft-iii-reforged-not-the-flavor-of-chaos-we-were-hoping-for/): 

> It's all but impossible to compare individual 3D models between the old and new versions and state that the older ones are superior. Rather, the issue boils down to how all of these new assets come together on the battlefield.
> 
> Color saturation sees the terrain's soup of green and blue blur together, without any recognizable boost to unit or terrain clarity offered by details such as individual blades of grass. The lower-poly version at least made its roads, cobblestone paths, and other game-world clutter more discrete for the sake of instantly recognizable paths and obstacles.

And [Polygon also notes](https://www.polygon.com/reviews/2020/2/4/21116683/warcraft-3-reforged-review-pc-mac-issues-cutscenes-remastered-glitches-complaints):

> Hitting the Esc key doesn’t bring up the main settings menu. Instead, I had to hunt for it for a couple of seconds — it’s mapped to F10. This isn’t a big deal, but it’s a sign of how the game doesn’t seem to have been tested and improved for a modern user experience.

As with the web, it's easy to make software look better while ignoring its technical performance and if we're actually making something better and solving the right problems.

Left unquestioned, technically better can be a distraction from really better.

</figure></div>

---

{% endmarkdown %}

</div>
</div>
</div>

<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
