---
title: "Enabling a more dynamic EMBL online"
layout: layouts/post.njk
image: "/blog/vf-home.png"
image_meta:
  text: "Screenshot: <a href='https://stable.visual-framework.dev/'>Visual Framework</a> homepage."
  altext: "Screenshot of the Visual Framework website homepage."
teaser: "From contentHub to VF 2.0: foundations for faster, more flexible journeys across One EMBL."
date: 2021-12-21
tags: posts
topics:
  - design systems
  - content architecture
  - editorial workflow
via: "https://www.embl.org/about/info/communications/blog/2021/12/enabling-a-more-dynamic-embl-online/"
---

{% markdown %}

For EMBL’s websites and web services, I headed an effort to architect a new set of platform foundations to power faster, more flexible digital experiences. Many see the most visible changes on the new EMBL.org, but that's just a partial glimpse of what these improvements make possible.

Original post at EMBL: [Enabling a more dynamic EMBL online](https://www.embl.org/about/info/communications/blog/2021/12/enabling-a-more-dynamic-embl-online/)

{% endmarkdown %}
