---
title: "Something new for 2022"
layout: layouts/post.njk
teaser: "This month, I’m saying goodbye to my projects at EMBL but my career in web work continues."
image: "/blog/bonn-station.jpg"
image_meta:
  text: 'Leaving Heidelberg on moving onto Bonn, and so much more. Own photo.'
  altext: "Bonn main station"
date: 2021-12-23
# url: /posts/20211222-something-new-2022.html
active_path: blog
tags: posts
topics:
  - life
---

{% markdown %}

Of all the projects I’ve led at [EMBL](https://www.embl.org/), I’ll be saddest to say goodbye to the [Visual Framework](https://stable.visual-framework.dev/).

During my time, I managed to get a lot of organisation support for the Visual Framework, but I never managed to get the organisation really excited for it nor did I get it cemented as one of EMBL’s permanent and public-facing [services](https://www.ebi.ac.uk/services) (or "tools" depending on your EMBL world view). I’m still hopeful that whoever steps into my shoes as the project owner will be able to achieve those things and carry the vision forward, but it’s a tall order; that person needs to:

- carry forward the project, 
- fully grasp the problem space, 
- share a similar vision of the solution as mine, and 
- be willing to continue organisational culture change 

It’s far from impossible, but I suspect the most likely outcome is that the next person will view the Visual Framework in a more limited role that supports only EMBL’s needs and not be flexible enough to empower virtually any life science project.

<article class="kh-bleed-out">
<blockquote class="vf-text-heading--3">
A simpler view of the Visual Framework creates a much simpler problem space and accordingly requires fewer resources to implement — but it also greatly limits potential, muting its ability to be flexible enough to be used by all of EMBL’s many online collaborations. 
</blockquote>
</article>

Time will tell. 

(If you're looking for a interesting design systems project, [watch their openings](https://www.embl.org/jobs/).)

I’ve already [written plenty](https://www.embl.org/about/info/communications/blog/author/ken-hawkins-2-2-2-2-2-2-2-2-2-2/) on why the Visual Framework’s open approach is important, so I won’t digress again. Instead, I want to think a bit more broadly reflect a little on closing a 6.5-year chapter in my career.

During my time at EMBL I’ve worked with some truly great colleagues who were not only smart and supportive, but they gave me a wide amount of trust to help deliver my ideas. I'll miss that most. 

<article class="kh-bleed-out">
<blockquote class="vf-text-heading--3">
In January, I’ll start my new position and can only hope that my new colleagues will be as tremendous as those EMBL colleagues were.
</blockquote>
</article>

While the exact aspects of my work will change, I expect it to still be broadly the same: helping ensure web sites deliver value. 

It's been pointed out to me a few times that I should spend less time going hands on and more time leading — I'm really going to try to set out by not just doing and ensuring I'm demonstrating.

But a lot will depend on what needs I actually encounter when I start.

I’m excited about the new opportunity and also anxious. We’ll be relocating as a family, and that means lots of uncertainties … what will the work be like? How will my colleagues be? How are the playgrounds? The apartment? Kindergarten? What exactly are the needs I'll be addressing for work?

{# I applied for the job almost 9 months ago and I'm simply ready to get started. #}

Change is stressful.

All told, I’d have happily stayed at EMBL for many more years, but there’s a 9-year cap to the vast majority of EMBL staff. So at some point, my current opportunity would end, and I’d have to find something that would sponsor me to stay in Germany. 

I don't think I could have found a better future position that matches my career interests, is supportive of family life and works for a common good. 

{# It's an exciting opportunity to help the United Nations Office for Disaster Risk Reduction with their many web presences. #}

Between being a parent of a now 4-year-old and providing leadership for a number of projects, I'm also hopeful that a new role will give me a bit of time to focus on side projects a bit more. Writing this I'm noticing it's been just over 1 year since my last blog entry.

It’s probably a good time for a change. 

<article class="kh-bleed-out">
<blockquote class="vf-text-heading--3">
After several years of applying myself to a problem, the Visual Framework <a href="https://docs.google.com/presentation/d/1mYas0ZcBbgpadaDMYWv-zSg6F53oeA4EUoyGK0UCFxg/edit#slide=id.gcb5d259c69_0_0">solves the majority of problems</a> it aims to address. It’s a mature system that needs someone to maintain the status quo, and I think I’m ready to solve some <a href="https://www.preventionweb.net">new challenges</a>.
</blockquote>
</article>

{# I’m excited about the change, ready to settle into a new reality and the stability that will come with spring.  #}

Let's hope 2022 will be a bright year in all the right ways.

{% endmarkdown %}
