---
title: "EMBL.org: Empowering users to navigate a large scientific organization"
layout: layouts/post.njk
image: "/blog/embl-best-footer-forward.png"
image_meta:
  text: "Screenshot: <a href='https://www.embl.org/directory/'>EMBL.org directory</a>"
  altext: "Screenshot of the EMBL.org directory landing page."
teaser: "We tamed the ‘footmap’ by introducing a more effective directory pattern."
date: 2021-08-30
tags: posts
topics:
  - information architecture
  - navigation
  - visual framework
via: "https://www.embl.org/about/info/communications/blog/2021/08/embl-org-putting-our-best-footer-forward/"
---

{% markdown %}

This is a stub entry to link to a blog post of mine over at EMBL.org on navigation work to refactor a screen‑and‑a‑half footer into a focused global footer and a separate directory. It’s a small change with outsized effects on orientation and task completion.

It drastically increased the user's ability to find content, improved SEO and increased internal stakeholder satisfaction.

[EMBL.org: Putting our best footer forward](https://www.embl.org/about/info/communications/blog/2021/08/embl-org-putting-our-best-footer-forward/)

{% endmarkdown %}
