---
title: 'How AI is evolving developers into technical writers'
layout: layouts/digesting.njk
teaser: 'Fabrizio Ferri Benedetti highlights docs-driven development and the rise of technical writers as “context curators” so AI can truly RTFM.'
date: 2025-09-29
digest_link: https://passo.uno/from-tech-writers-to-ai-context-curators/
tags:
  - digesting
topics:
  - AI
  - technical writing
  - documentation
---

{% markdown %}
In ["AI must RTFM: Why technical writers are becoming context curators"](https://passo.uno/from-tech-writers-to-ai-context-curators/), Fabrizio Ferri Benedetti observes that developers are shifting toward docs-driven development and deliberately packaging project knowledge for LLMs.

This solidifies a feeling I've been having (see: [The power of the pause](/posts/20250923-effective-ai-work-is-project-management/))—that AI pushes us to focus more on describing how things should work. I also like how Fabrizio notes that not all documentation is equal, and that AI—much like humans—benefits from succinct writing.

{% endmarkdown %}
