---
title: "It's true, short disruptions costs lots of time"
layout: layouts/digesting.njk
teaser: "Meeting creep, quick questions and context switching crush flow."
date: 2025-10-13
digest_link: https://workweave.dev/blog/distracting-software-engineers-is-more-harmful-than-managers-think-even-in-the-ai-times
tags: digesting
topics:
  - productivity
  - software engineering
---

{% markdown %}
I've always known this informally: quick questions can cause large drops in work for devs and other deep thinkers.

> It takes 15 minutes just to get going and only by the 45-minute mark (!) you will hit your peak, when you are fully immersed in the problem.
>
> Every time you’re distracted, that clock resets thanks to context switching. In a study done by Meta, they’ve shown how severe the problem is - engineers get just 2 1-hour sessions a week! (And I find it crazy that a 3 minute session is considered ‘focus time’ at all).

Was happy to see Anton Zaides' well‑sourced piece have some evidence for this.

{% endmarkdown %}
