---
title: "It’s been 3.5 years"
layout: layouts/post.njk
teaser: "A long-overdue update."
image: "/blog/3-5-years.jpg"
image_meta:
  text: 'Hey a picture of some Legos!'
  altext: "Legos are back!"
date: 2025-05-08
active_path: blog
tags: posts
topics:
  - life
  - legos
  - drupal
  - return of the mac-k
---

{% markdown %}

Hard to believe, really. So much has changed in ways I didn’t expect. I can’t believe it’s been this long since I’ve written an update here, but that's the headline of most blogs.

Blogs. That's a thing that Google Search Trends proves clearly dates me:

{% endmarkdown %}

{% render '@ken-figure', {
  "text": "Does using the term 'blog' mean I also peaked in 2010? No, let's not entertain such thoughts.",
  "alttext": "A Google Search Trend graph for 'blog' showing a clear long tail after the year 2010.",
  "href": "https://trends.google.com/trends/explore?date=all&q=blog&hl=en-GB",
  "imageUrl": "/images/original/blog/blog-google-search-trends.jpg"
} %}

{% markdown %}


The last time I posted, I was [preparing to move to Bonn](/posts/20211223-something-new-2022/). I didn’t know then how much would shift. Four years ago, I could hardly have guessed where I’d be now: working with Drupal nearly every day, about to get too much Windows time, then a lot of KDE and after getting too frustrated back to the Mac (there's maybe a whole blog post in that), driving the kid to school most mornings, and building Lego  more days than not with a now 7-year-old son. The aging is the only thing I would have been right in predicting.

It’s been exhausting. And worthwhile.

I couldn’t have imagined the rabbit holes I’ve ended up diving into—(foreshadowing...), like trying to coax half-decent performance out of Drupal running on Azure Database for MySQL.

I've left behind some projects I was very passionate for, and that was tough but it also freed me up to tackle some more interesting problems and work with a bigger team.

Change can be hard and good. Who would have thought.

I find that I’m still operating in that ill defined but oh-so needed space between web development and traditional communications, translating needs between layers of expertise, patching things together when they don’t quite line up — code, text and or requests. There is a lot of backlog grooming sessions, budget justifications, terms of reference, and other things I wouldn’t exactly describe as thrilling.

But in between the faff there are excellent wins that are inside and outside of Drupal. Sometime small adaptations or unique tools. I’d like to get back to sharing some of those here. And some other things too. Whatever it is I feel like, really.

Thanks for reading. It's nice to dust off this blog. Let’s hope it’s not another 3.5 years.

And it's probably time to migrate this blog to another tech stack, but, that's a whole rabbit hole, and I'm feeling too old for that sort of thing. Change may be inevitable, but it doesn't mean you have to always chase it.

<hr>

You made it to the end, well done, here's a treat. You've earned it.

{% endmarkdown %}

<iframe width="560" height="315" src="https://www.youtube.com/embed/uB1D9wWxd2w?si=gYCaAtwA5yCnM-1d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
