---
title: The blog
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
#templateEngineOverride: njk
---
{%- set siteConfig = siteConfig.siteInformation -%}
<div class="kh-grid-stylized">
  <div>
    <h1 class="kh-font-headline kh-font-headline--display kh-text-heading--1">{{title}}</h1>
  </div>
  <section>
  {%- for post in collections.posts | sort(true, true, attribute='date' ) -%}
  <article class="kh-summary kh-summary--news">
    {% set isNote = (post.data.tags and ('note' in post.data.tags))  %}
    <div class="kh-summary__date">{{ post.date | dateDisplay }}
    {% if isNote %}
      | Note post
    {% endif %}
    </div>
    {% if (not isNote) and post.data.image %}
      <a href="{{ post.url }}" class="kh-summary__image">
        <img width="300" class="kh-summary__image" src="/images/crop-cinema{{ post.data.image }}" alt="{{ post.data.title }}">
      </a>
    {% else %}
    <div class="kh-summary__image">
    <!-- spacer -->
    </div>
    {% endif %}
    <h3 class="kh-font-headline kh-summary__title">
      <a href="{{ post.url | url}}" class="kh-summary__link">{{ post.data.title }}</a>
    </h3>
    <p class="kh-content kh-summary__text">{{ post.data.teaser | safe }}</p>
  </article>
  {%- endfor -%}
  </section>
</div>
