{#-
  Pseudomorphic Ambience - Site-wide atmospheric background effect
  See: https://www.allaboutken.com/posts/sunlit-dappled-light-effect/
-#}
<div id="kh-dappled-light" aria-hidden="true">
  {# Dappled leaves layer with SVG wind distortion filter #}
  <div class="kh-ambience-leaves">
    <svg style="width: 0; height: 0; position: absolute;">
      <defs>
        <filter id="kh-ambience-leaves-animation"  x="-20%" y="-20%" width="140%" height="140%">
          <feTurbulence type="fractalNoise" numOctaves="2" seed="1">
            <animate attributeName="baseFrequency" dur="16s" calcMode="spline"
              values="0.005 0.003;0.01 0.009;0.008 0.004;0.005 0.003"
              keyTimes="0;0.33;0.66;1"
              keySplines="0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1" repeatCount="indefinite" />
          </feTurbulence>
          <feDisplacementMap in="SourceGraphic" scale="50">
            <animate attributeName="scale" dur="20s" calcMode="spline"
              values="45;55;75;55;45"
              keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1" repeatCount="indefinite" />
          </feDisplacementMap>
        </filter>
      </defs>
    </svg>
  </div>

  {# Blinds/shutters shadow layer with 3D perspective #}
  <div class="kh-ambience-blinds">
    <div class="kh-ambience-shutters"></div>
  </div>
</div>
