---
title: 404
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
permalink: 404.html
---

{# <div><!-- empty --></div> #}
<div class="">
  <h1 class="kh-intro__heading"> 4-oh-no-4! <span class="emoji">😨</span></h1>
  <p class="kh-lede">This link is busted. Maybe these will help?</p>
  <p class="kh-intro__text">You can see search results for it below.</p>
</div>


<section class="embl-grid embl-grid--has-centered-content | kh-stack">
  <div>
    <h1 class="kh-text-body--1">Page not found</h1>
  </div>
  <div>
    {% set context = {
      search_client_button_text: "Search",
      search_client_autofocus: false,
      search_client_prompt: "Search the site",
      search_client_script: "/search_index.js",
      search_client_button: true,
      search_client_action: "/search/",
      search_client_results: true,
      search_client_id: "search_query",
      search_client_destination_prefix: ""
    } %}
    {% include "../../node_modules/@visual-framework/vf-search-client-side/vf-search-client-side.njk" %}
  </div>
</section>

<script>
  // pre-populate the search with the query string
  var truncatedUrl = window.location.pathname.replace('.html','').replace('components/detail/','').replace('/',' ');
  document.getElementById('search').value = truncatedUrl;
</script>
