---
title: 404
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
permalink: 404.html
---

<section class="kh-grid-stylized kh-stack">
  <div></div>
  <div>
  <h1 class="kh-intro__heading"> 4-oh-no-4! <span class="emoji">😨</span></h1>
  <p class="kh-intro__text">This link is busted.</p>

    <form action="/search/" method="GET" class="kh-form kh-form--search kh-form--search--responsive kh-sidebar kh-sidebar--end">
      <div class="kh-sidebar__inner">
        <div class="kh-form__item" style="display:none">
          <label class="kh-form__label kh-search__label kh-u-sr-only" for="search_query">Search my site</label>
          <input type="search" id="search_query" placeholder="Search my site" name="search_query" class="kh-form__input kh-search__input">
        </div>
        <button type="submit" class="kh-button">
          Try a search for it
        </button>
      </div>
    </form>
  </div>
</section>

<script>
  // Pre-populate the search with the broken URL path
  var truncatedUrl = window.location.pathname
    .replace(/\.html$/, '')
    .replace('components/detail/','')
    .replace(/\//g, ' ')
    .trim();
  document.getElementById('search_query').value = truncatedUrl;
</script>
