---
title: "Ken Hawkins' CV"
subtitle: Web front end lead
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
active_path: front
---

{# 
<style>
  .sticky {
    opacity: 0;
  }
  .sticky.is-stuck {
    opacity: 1;
  }
  #cv-menu a {
    background: none;
  }
  #cv-menu a.is-active {
    border-bottom: 1px dotted #fff;
  }
  #cv-menu a:hover {
    border-bottom: 1px solid #fff;
  }
</style>
<!-- Add a Sticky Menu -->
<div data-sticky-container class="do-not-print">
  <div class="black-background white-color vf-u-padding__top--400 vf-u-padding__bottom--400 no-underline" data-sticky data-margin-top="0" data-anchor="cvbody" id="cv-menu">
    <ul class="menu" data-magellan>
      <span class="lead vf-u-padding__top--200 padding-left-xlarge padding-right-large">Skip <span class="emoji">⤵</span></span>
      <li><a class="" href="#experience">Experience</a></li>
      <li><a class="" href="#history">History</a></li>
      <li><a class="" href="#more">More</a></li>
    </ul>
  </div>
</div>
#}

{# Page dividers #}
{%- set divider %}
<div style="page-break-before: always"></div>
{% endset -%}

{# Contact info print #}
{%- set contactInfoPrint %}
<div class="show-for-print-only">
<span class="emoji">📧</span>&nbsp; khawkins98@gmail.com &nbsp;<span class="emoji">🐦</span>&nbsp; @khawkins98 &nbsp;<span class="emoji">🌎</span>&nbsp; AllAboutKen.com  &nbsp;<span class="emoji">📇</span>&nbsp; Online problem solver
</div>
{% endset -%}

{# Position templates #}
{%- macro position(name, employer='', years='', location='') %}
<h2 class="vf-text-heading--2">{{ name }}</h2>
<h4 class="vf-text-heading--4 | vf-u-text-color--grey">{{ employer }}</h4>
<p><small class="vf-summary__date">{{ years }}</small><br/>
   <small class="vf-summary__date">{{ location }}</small></p>
{% endmacro -%}

{# Section header #}
{%- macro sectionHeader(title) %}
<h2 class="vf-badge vf-badge--outline | vf-u-margin__top--1200 vf-u-margin__bottom--600">{{ title }}</h2>
{% endmacro -%}

<div class="show-for-print-only">
  <h1 class="vf-text-heading--1">{{title}}</h1>
</div>

{{ contactInfoPrint | safe }}


<div class="vf-u-fullbleed vf-u-background-color-ui--grey | embl-grid embl-grid--has-centered-content">
  <div></div>
  <section class="vf-u-margin__top--800 vf-content">
    <div class="do-not-print">
      <h1 class="vf-text-heading--1 | show-for-mobile-only">Ken Hawkins' CV</span></h1>
      <h1 class="vf-text-heading--1 | show-for-medium-up">{{title}}</span></h1>
      <h2 class="vf-text-heading--2">{{subtitle}}</h2>
      <p class="">
      I empathise with people and organisations to help deliver the potential of the web. With developer outreach and content modelling, I work to understand their issues with the web front end. 
      </p>
    </div>
    <h2 class="for-print-only">{{subtitle}}</h2>

    {# I use code, design and information architecture — plus a generous amount of consultation.  #}
    
{% markdown %}
Since 2015 I've been working with [EMBL](https://www.embl.org/) to make a better front end platform for life-science websites. 

My work is used by more than 500 developers at EMBL across a range of systems from Angular to React, to static sites and CMSs like WordPress and Drupal. My most-frequent tools are CSS (Sass), vanilla JavaScript, Eleventy, Lerna, Fractal, npm and writing lots of documentation.

I seek out challenges of efficiency and communication. 
{% endmarkdown %}

  </section>
</div>


{{ divider | safe }}


{# I've found this challenge a recurrent and beneficial problem to solve in newspaper reporting, e-commerce, corporate websites and often in things as simple as a rather messy brochure. Below I've attempted to show how my various work experience (left) equates to major areas of my knowledge (right), and I've added a few key lenses in the middle. #}

<style> /* set the printable link CSS */
@media print { 
  .vf-content a:not([class*=vf-]),
  .vf-content a:not([class*=vf-]):visited, 
  .vf-content a:not([class*=vf-]),
  .vf-content a:not([class*=vf-]):visited {
    color: #000;
    border-bottom: none;
    text-decoration-color: #666;
  }
  .vf-content .cv-clippings a,
  .vf-content .cv-clippings a:visited {
    text-decoration-line: none;
    color: #000;
  }
  .vf-content .cv-clippings a:link:after, 
  .vf-content .cv-clippings a:visited:after { 
    display: block;
    content: "" attr(href) "";
    font-size: 80%;
  }
}
</style>

<a id="cv" name="cv"></a>

<div id="experience" data-magellan-target="experience"></div>
{{ sectionHeader('Professional experience') }}

{# <div class="vf-content">
{% markdown %}
My experience spans 20 years: beginning with printing presses, continuing through graphic design, information graphics and an online media startup. 
{% endmarkdown %}
</div> #}

<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header--default', {
    "section_title": "Web expertise"
  } %}
  <div class="vf-content">
{% markdown %}

- Managing geographically distributed projects with, GitLab, GitHub, Kanban and Slack (and similar)
- HTML, CSS/Sass, JavaScript, browser consoles, Handlebars, D3.js, Mapbox, PHP, Apache, npm, Gulp, Browsersync, Markdown
- Strong content experience: Drupal configuration and development, Eleventy, WordPress, metrics and so on
{% endmarkdown %}

  </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header--default', {
    "section_title": "Structure"
  } %}
  <div class="vf-content">
{% markdown %}

- Maximising content for discoverability and context-aware content
- Storytelling through visualisations
- Utilising social media as a tool for content creation, collaboration
- Tooling abstraction for content editors

{% endmarkdown %}

  </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header--default', {
    "section_title": "Project leadership"
  } %}
  <div class="vf-content">
{% markdown %}

- Content and project governance over time through abstracting content, actions and goals 
- Stakeholder consultation and expectation management through roadmapping
- Feature prioritisation and sprint-based project planning 
- Training and fostering web content creation from the general public to experienced developers
{% endmarkdown %}

  </div>
</section>


{# --- #}

<div class="vf-content">

<div id="history" data-magellan-target="history"></div>

{% markdown %}

{{ divider | safe }}

{{ sectionHeader('Professional work history') }}


<section class="embl-grid embl-grid--has-centered-content">
  <div>
    {{ position('Web Front End Lead', 'European Molecular Biology Laboratory (EMBL)', 'June 2018 – ongoing', 'Heidelberg, Germany', false ) }}
  </div>
  <div class="vf-content">

EMBL is Europe’s flagship laboratory for the life sciences and employees hundreds of developers to deliver online scientific services. We've created reusable front end tooling to speed development, reduce cost and improve UX. It's been especially interesting for the breadth of technology and wide the range of user needs and developer backgrounds. 

I lead the creation of this tooling, the Visual Framework, and serve as its lead advocate to help developers and product designers to utilise and implement. I also ensure the Visual Framework adapts to those needs. This is an expansion of my role for the European Bioinformatics Institute (EMBL-EBI).

- Grow, evolve projects from EMBL-EBI into pan-EMBL solutions 
- Information architecture and component tooling for EMBL web content, design systems
- Architect abstracted web content platform, navigation
- Facilitate collaboration between UX, developers and content teams
- Foster design system growth, adoption by coordinating with development leads

<div class="cv-clippings">

**Related writing**
- [Fractal and Eleventy: Getting static sites closer to the design system](https://www.allaboutken.com/posts/20191112-extendeing-fractal-components-eleventy-static-sites.html)
- [Faster scientific websites through reusability](https://blogs.embl.org/communications/2018/09/12/faster-scientific-websites-through-reusability/)
- [Unshackling content, and their authors](https://blogs.embl.org/communications/2018/08/21/unshackling-content-and-their-authors/)

</div> 

<!--
- [The Visual Framework 2.0: Web developer outreach at EMBL-EBI Day 2019](https://blogs.embl.org/communications/2019/06/27/the-visual-framework-2-0-web-developer-outreach-at-embl-ebi-day-2019/)
- [Flexibility, discoverability: using metadata for better user journeys](https://blogs.embl.org/communications/2017/09/25/flexibility-discoverability-using-metadata-for-better-user-journeys/)
-->

**Major technical tooling and processes:** HTML/JS/CSS, Sass, GitHub, GitLab CI, Visual Studio Code, Google Analytics, Gulp, npm, Eleventy, Fractal, Drupal, Continuous integration, Kanban

  </div>
</section>



<section class="embl-grid embl-grid--has-centered-content">
  <div>
    {{ position('Web design architect', 'European Bioinformatics Institute (EMBL-EBI)', 'July 2015 – June 2018', 'Cambridge, UK' ) }}
  </div>
  <div class="vf-content">

- Lead information architecture and design tooling for EMBL-EBI web content, design systems
- Facilitate collaboration between UX, developers and content teams
- Foster design system growth, adoption by coordinating with development leads
- Drive for reusable patterns in web interfaces
- Close gap between web analytics and content effectiveness
- Improve intranet information architecture to focus on user activities 

<div class="cv-clippings">

**Related writing**
- [The EMBL Triangle Key: From brand structure to information architecture](https://blogs.embl.org/communications/2017/07/18/the-embl-triangle-key-from-brand-structure-to-information-architecture/)
- [Mapping brand structure to support communication](https://blogs.embl.org/communications/2017/07/11/mapping-brand-structure-to-support-communication/)
- [Introducing the Content-Action Model for Web Systems](https://www.allaboutken.com/posts/20180122-content-action-model.html)

</div>

<!-- - [Inside the Content-Action Model](https://www.allaboutken.com/posts/20180329-cam-content-action-goal-ontology.html) -->
<!-- - [What if: A web font for data](https://www.allaboutken.com/posts/20180319-data-font-for-life-sciences.html) -->

**Major technical tooling and processes:** Content modelling and architecture, HTML/JS/CSS, Sass, Adobe Creative Suite, Atom, MapBox, Google Analytics, GitHub, Gulp, npm, Jekyll, Foundation Framework, Drupal, Travis, Continuous integration, Kanban

  </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
  <div>
    {{ position('Web developer and information designer', 'DRS Technical Solutions', 'February 2011 – June 2015', 'Stuttgart, Germany' ) }}
  </div>
  <div class="vf-content">

- Manage user-focused efforts (UX, research, metrics) for company web projects
- Website project lead for a Drupal platform to support more than 150,000 user accounts, provide e-commerce tools
- Information architecture and infographics for business proposals, strategic planning
- Numerous intranet-style websites to manage contacts, resumes, documents by consuming JSON and XML feeds for custom dashboards and processing
- Create and implement software projects with multi-company team members in the U.S., Europe and Middle East

**Major technical tooling:** Drupal, HTML, CSS, JavaScript, Bitbucket, Agile, Amazon EC2, Route 53, Google Analytics

  </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
  <div>
    {{ position('Technical and editorial lead', 'TheDigitel', 'May 2008 – February 2011', 'South Carolina, USA' ) }}
  </div>
  <div class="vf-content">
  

- Co-founded TheDigitel.com to advance newspaper methodology in the age of websites
- Lead team of eight staff and an array of freelancers and volunteers to report, market and implement web features
- Lead community editor outreach with physical, online, podcast events
- Help our students grow through our intern partnership with the local college
- Pioneer use of Twitter hashtags for local media community reporting
- [Dynamic Advertising](https://www.nytimes.com/2010/05/23/business/23novel.html): a new advertising model powered by social media
- Speak at events for the creative community about code, reporting, startups
- Refine Drupal UX, content editing experience for community collaboration with staff editors
- Raise funding, manage investors, expand TheDigitel to three cities

**Major technical tooling:** HTML, CSS, JavaScript, Drupal, LAMP hosting optimisation, daily briefing newsletter automations, reverse proxy caching, Adobe Creative Suite, Google Analytics, Google G Suite admin, A/B testing, Google AdSense and AdWords, podcasting

  </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
  <div>
    {{ position('Graphics reporter', 'The Post and Courier', 'March 2006 - May 2008', 'South Carolina, USA' ) }}
  </div>
  <div class="vf-content">


- Newspaper infographic design and reporting
- Produce daily deadline-driven information graphics based on news reports
- Create interactive HTML and Flash information graphics for the Web
- Process geographic data to create maps (GIS)
- Design and produce newspaper pages
- Photo management and copy editing

**Major technical tooling:** Adobe Illustrator, Photoshop, InDesign, Acrobat, QuarkXPress, Flash, ArcGIS, Modo 3D modelling, HTML, CSS, JavaScript, Mac OS

  </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
  <div>
    {{ position('Graphics reporter', 'The Beaufort Gazette', 'May 2003 - March 2006', 'South Carolina, USA' ) }}
  </div>
  <div class="vf-content">


- Newspaper infographic and page design
- Produce daily deadline-driven information graphics based on news reports
- Help lead the visual design of newspaper pages
- Work to educate staff on photo cropping, type kerning, general principles of visual structure and directing the reader's focus

**Major technical tooling:** Adobe Illustrator, Photoshop, InDesign, Acrobat, QuarkXPress, Mac OS

  </div>
</section>

<section class="embl-grid embl-grid--has-centered-content">
  <div>
    {{ position('Production manager', 'The Daily Journal', 'May 2000 - April 2003', 'South Carolina, USA' ) }}
  </div>
  <div class="vf-content">
  

- Newspaper pre-press production, advertising
- <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="If you ever want to talk about the properties of ink on paper, let me know.">Pre-flight</span> and technical management of daily newspaper pre-press production
- Lead production of in-house creatives for advertising clients
- Manage pre-press team of 4 individuals

**Major technical tooling:** Adobe Illustrator, Photoshop, Acrobat, QuarkXPress, Mac OS

<!-- <span class="label">January 2000 - May 2008</span> <span class="label">Ending at The Post and Courier</span> <span class="label">South Carolina, USA</span>
#### Newspaper infographic design and reporting -->

  </div>
</section>

{{ divider | safe }}

{# {{ position('Education, collaboration, speaking') }} #}

{{ sectionHeader('Education, speaking') }}

- Clemson University, Bachelor of Science in Graphic Communications, May 2003 {# - Internships: Electric City Printing prepress, Seneca Daily Journal prepress #}
- Charleston Drupal meet-up and co-working {# Founding member of the local co-working and Drupal user group #}
- Co-founder of Fuse843 networking and business development group {# A regional group of "creative class" individuals, we hosted local networking events, speakers and an online social networking tool #}
- Charleston PechaKucha, Charleston Drupal user group, Create South conference, Startup Stuttgart, various others

{# <div class="do-not-print vf-u-padding__top--600"></div>
<div class="do-not-print vf-u-padding__top--600"></div>

<div id="more" data-magellan-target="more"></div>

<h2 class="vf-badge vf-badge--outline">Other things</h2>

<span class="emoji">📐</span>  Clean design  <span class="emoji">🎭</span> creative approaches  <span class="emoji">💫</span> culture  <span class="emoji">🔰</span> Japanese eccentricities
<span class="emoji">💬</span>  puns <span class="emoji">🍻</span>  crisp lagers<span class="emoji">🎾</span> tennis  <span class="emoji">🚣</span> kayaking  <span class="emoji">😇</span>  exploring where tech meets culture) #}

{% endmarkdown %}


{{ contactInfoPrint | safe }}

</div> 

<div class="do-not-print vf-u-padding__top--600"></div>
