---
title: Impressum
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/post.njk
templateEngineOverride: njk, md
---

{# {% render '@vf-intro', {"vf_intro_phase": "alpha", "vf_intro_heading": siteConfig.siteInformation.title,
  "vf_intro_lede": siteConfig.siteInformation.short_description,
  "vf_intro_text": [
    "☝️ that also means dynamic building of just the CSS and JS you need."
  ]
} %} #}


Ken Hawkins <br/>
Cambridge UK <br/>
Tel.: 0044 (0) 7479852789<br/>
E-Mail.: khawkins98@gmail.com<br/>
