---
title: Hello
subtitle: I am Ken Hawkins.
date: 2018-08-22 12:24:50
image: "/blog/drill-bits.jpg"
layout: layouts/base.njk
templateEngineOverride: njk
---
<div class="vf-u-fullbleed vf-u-background-color--yellow--dark">
<section class="embl-grid embl-grid--has-centered-content | vf-u-padding__top--500">
  <div></div>
  <div class="vf-content">
    <h1 class="vf-text-heading--1 vf-font-now-alt vf-font-now-alt--display">{{title}}. <br/><span class="vf-u-text--nowrap">I am</span> Ken Hawkins.</h1>
    <h2 class="vf-text-heading--2">I bring structure and process to complex web projects.</h2>
    {% markdown -%}

    With [20 years](/cv/) experience in publishing and technology, I help projects move beyond content and problems into performant web platforms that [deliver](/posts/20180122-content-action-model.html) organisational goals. 

    {%- endmarkdown %}
    {# **I am a deep thinker** who applies a strong conceptual background from years of crafting deadline-driven data-heavy infographics for newspapers, online publications driven by data and invocating marketing and tracking tools.  #}

    {#- <dl>
      <dt>Descriptors</dt>
      <dd>Creator of websites, information architect, data geek, designer, newspaper nerd, lover of UX, consultant, <a href="https://twitter.com/euroia/status/912695523118927873" class="vf-link">information acrobat</a>. </dd>

      <dt>Methodologies</dt>
      <dd>Content modelling, design thinking, content structure and organisation, responsive design, analytics and metrics, principles of graphing, user centred design, user stories, user behaviour, Kanban.</dd>

      <dt>Concisely</dt>
      <dd>Ken Hawkins, Web Design Architect.</dd>
    </dl> -#}

    {#- <p>Say hello or dig deeper <span class="emoji">⤵</span></p> -#}
  </div>
</section>
</div>

<section class="vf-card-container embl-grid">
  {% render '@vf-section-header--default', {
    "section_title": "Recently",
    "id": "recently"
  } %}
  {#- <p class=" vf-section-header__text">If I've made something interesting and had a bit of time, I've hopefully done a post on it.</p> -#}
  <section>
    <div class="vf-grid vf-grid__col-4 | summary-inline">
    {%- for post in collections.posts.slice(-3) | reverse -%}
    <article class="vf-summary vf-summary--news">
      <span class="vf-summary__date">{{ post.date | dateDisplay }}</span>
      <a href="{{ post.url }}" class="vf-summary__image">
        <img class="vf-summary__image" src="/images/crop-cinema{{ post.data.image }}" alt="{{ post.data.title }}">
      </a>  
      <h3 class="vf-summary__title">
        <a href="{{ post.url }}" class="vf-summary__link">{{ post.data.title }}</a>
      </h3>
      {#- {{loop.index}} -#}
    </article>
    {%- endfor -%}
    <article class="vf-summary vf-summary--news">
      {# <span class="vf-summary__date">{{ post.date | dateDisplay }}</span> #}
      {# <a href="{{ post.url }}" class="vf-summary__image">
        <img class="vf-summary__image" src="/images/crop-cinema{{ post.data.image }}" alt="{{ post.data.title }}">
      </a>   #}
      <h3 class="vf-summary__title">
        <a href="/blog" class="vf-summary__link">Read {{ collections.posts | length - 3}} more posts on the blog ↦</a>
      </h3>
      {#- {{loop.index}} -#}
    </article>
    </div>
  </section>

</section>

{#- Contact -#}
{# <hr class="vf-divider" /> #}

<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header--default', {
    "section_title": "Say hello",
    "id": "hello"
  } %}
  <section>
    <p class="vf-text-body--2">
      I'm currently fully engaged, helping a global leader <a href="https://www.preventionweb.net/">reduce the risk of disaster</a> — but you can still say hello.
    </p>
    <p class="vf-text-body--2">
      <a href="https://toot.io/@khawkins98" class="vf-link">@khawkins98@toot.io</a> &nbsp; &nbsp;
      <a href="https://www.linkedin.com/in/allaboutken" class="vf-link">LinkedIn</a> &nbsp; &nbsp;
      <a href="mailto:khawkins98@gmail.com" class="vf-link">Email</a> &nbsp; &nbsp;
      <a href="https://untappd.com/user/khawkins98" class="vf-link">Beer</a>
    </p>
  </section>
</section>

<hr class="vf-divider" />

<section>
  <p class="vf-text-body--3">
    <a href="/rss.xml" class="vf-link">RSS</a> <span class="vf-text-body--5">(Instant updates with the hottest tech from 20 years ago)</span>
  </p>
</section>
