---
title: Hello
subtitle: I am Ken Hawkins.
date: 2018-08-22 12:24:50
image: "/blog/drill-bits.jpg"
layout: layouts/base.njk
templateEngineOverride: njk
---
<div class="kh-u-background-color--yellow--dark kh-u-fullbleed">
<section class="kh-grid-stylized kh-grid-stylized--has-centered-content kh-u-padding__top--500">
  <div></div>
  <div class="kh-content">
    <h1 class="kh-font-now-alt kh-font-now-alt--display kh-text-heading--1">{{title}}. <br/><span class="kh-u-text--nowrap">I am</span> Ken Hawkins.</h1>
    <h2 class="kh-text-heading--2">I bring structure and process to complex web projects.</h2>
    {% markdown -%}

    With [20 years](/cv/) experience in publishing and technology, I help projects move beyond content and problems into performant web platforms that [deliver](/posts/20180122-content-action-model.html) organisational goals.

    {%- endmarkdown %}
    {# **I am a deep thinker** who applies a strong conceptual background from years of crafting deadline-driven data-heavy infographics for newspapers, online publications driven by data and invocating marketing and tracking tools.  #}

    {#- <dl>
      <dt>Descriptors</dt>
      <dd>Creator of websites, information architect, data geek, designer, newspaper nerd, lover of UX, consultant, <a href="https://twitter.com/euroia/status/912695523118927873" class="kh-link">information acrobat</a>. </dd>

      <dt>Methodologies</dt>
      <dd>Content modelling, design thinking, content structure and organisation, responsive design, analytics and metrics, principles of graphing, user centred design, user stories, user behaviour, Kanban.</dd>

      <dt>Concisely</dt>
      <dd>Ken Hawkins, Web Design Architect.</dd>
    </dl> -#}

    {#- <p>Say hello or dig deeper <span class="emoji">⤵</span></p> -#}
  </div>
</section>
</div>

<section class="kh-card-container kh-grid-stylized">
  <h2 id="recently" class="kh-text-heading--2">Recently</h2>
  {#- <p class="kh-section-header__text">If I've made something interesting and had a bit of time, I've hopefully done a post on it.</p> -#}
  <section>
    <div class="kh-grid kh-grid__col-4 summary-inline">
    {%- for post in collections.posts.slice(-3) | reverse -%}
    <article class="kh-summary kh-summary--news">
      <span class="kh-summary__date">{{ post.date | dateDisplay }}</span>
      <a href="{{ post.url }}" class="kh-summary__image">
        <img class="kh-summary__image" src="/images/crop-cinema{{ post.data.image }}" alt="{{ post.data.title }}">
      </a>
      <h3 class="kh-summary__title">
        <a href="{{ post.url }}" class="kh-summary__link">{{ post.data.title }}</a>
      </h3>
      {#- {{loop.index}} -#}
    </article>
    {%- endfor -%}
    <article class="kh-summary kh-summary--news">
      {# <span class="kh-summary__date">{{ post.date | dateDisplay }}</span> #}
      {# <a href="{{ post.url }}" class="kh-summary__image">
        <img class="kh-summary__image" src="/images/crop-cinema{{ post.data.image }}" alt="{{ post.data.title }}">
      </a>   #}
      <h3 class="kh-summary__title">
        <a href="/blog" class="kh-summary__link">Read {{ collections.posts | length - 3}} more posts on the blog ↦</a>
      </h3>
      {#- {{loop.index}} -#}
    </article>
    </div>
  </section>

</section>

{#- Contact -#}
{# <hr class="kh-divider" /> #}

<section class="kh-grid-stylized kh-grid-stylized--has-centered-content">
  <h2 id="hello" class="kh-text-heading--2">Say hello</h2>
  <section>
    <p class="kh-text-body--2">
      I'm currently fully engaged, helping a global leader <a href="https://www.preventionweb.net/">reduce the risk of disaster</a> — but you can still say hello.
    </p>
    <p class="kh-text-body--2">
      <a href="https://toot.io/@khawkins98" class="kh-link">Mastodon<span class="show-for-large"> @khawkins98@toot.io</span></a> &nbsp; &nbsp;
      <a href="https://www.linkedin.com/in/allaboutken" class="kh-link">LinkedIn</a> &nbsp; &nbsp;
      <a href="mailto:khawkins98@gmail.com" class="kh-link">Email</a> &nbsp; &nbsp;
      <a href="https://untappd.com/user/khawkins98" class="kh-link">Beer</a>
    </p>
  </section>
</section>

<hr class="kh-divider" />

<section>
  <p class="kh-text-body--3">
    <a href="/rss.xml" class="kh-link">RSS</a> <span class="kh-text-body--5">(Instant updates with the hottest tech from 20 years ago)</span>
  </p>
</section>
