---
title: Privacy policy
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/post.njk
templateEngineOverride: njk, md
comment: false
---

{# {% render '@vf-intro', {"vf_intro_phase": "alpha", "vf_intro_heading": siteConfig.siteInformation.title,
  "vf_intro_lede": siteConfig.siteInformation.short_description,
  "vf_intro_text": [
    "☝️ that also means dynamic building of just the CSS and JS you need."
  ]
} %} #}

This site is hosted on GitHub Pages.

I use GoatCounter, a privacy-friendly, cookie‑free analytics tool, to count page views and understand which pages are popular. GoatCounter doesn’t collect personally identifiable information and stores only aggregate metrics. Under GDPR, this falls under legitimate interest and generally does not require a consent banner; see GoatCounter’s explanation: [GDPR consent notices](https://khawkins98.goatcounter.com/help/gdpr).

If you have a concern: khawkins98@gmail.com
