---
title: Privacy policy
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/post.njk
templateEngineOverride: njk, md
---

{# {% render '@vf-intro', {"vf_intro_phase": "alpha", "vf_intro_heading": siteConfig.siteInformation.title,
  "vf_intro_lede": siteConfig.siteInformation.short_description,
  "vf_intro_text": [
    "☝️ that also means dynamic building of just the CSS and JS you need."
  ]
} %} #}


This site is hosted on GitHub pages, I don't use any trackers and don't have access to any server logs.

I have no way of knowing who you are or if you've read this.

Hello, is someone there?

If you have a concern: khawkins98@gmail.com
