---
title: Privacy policy
date: 2018-08-22 12:24:50
layout: layouts/digesting.njk
parentUrl: /directory/
parentLabel: Directory
templateEngineOverride: njk, md
comment: false
---

This site is hosted on Vercel.

I use GoatCounter, a privacy-friendly, cookie‑free analytics tool, to count page views and understand which pages are popular. GoatCounter doesn’t collect personally identifiable information and stores only aggregate metrics. Under GDPR, this falls under legitimate interest and generally does not require a consent banner; see GoatCounter’s explanation: [GDPR consent notices](https://khawkins98.goatcounter.com/help/gdpr).

If you have a concern: khawkins98@gmail.com
